@{
    ViewBag.Title = "ClientVantage Banners";
}

@section Styles {

    <link href="https://kendo.cdn.telerik.com/2021.2.511/styles/kendo.default.min.css" rel="stylesheet" />
    <link href="https://kendo.cdn.telerik.com/2021.2.511/styles/kendo.bootstrap-v4.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
}

@section Scripts {

    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.0/jquery.validate.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

    <script src="https://kendo.cdn.telerik.com/2021.2.511/js/kendo.all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>

    <script src="~/js/pagination/pagination.min.js"></script>
    <script src="~/js/pagination/pagination.custom.js"></script>

    <script>

        $(document).ready(function () {
            
            prepareLogList(); 

            if('@ViewBag.response') {
                if ('@ViewBag.response' == "Success") {
                    document.getElementById("danger-alert").style.display = "none";
                    document.getElementById("success-alert").style.display = "inline-block";
                    var alertText = '<strong>Success! </strong>';
                    alertText += '@ViewBag.Message';
                    $("#success-alert").html(alertText);
                    $("#success-alert").fadeTo(8000, 500).slideUp(500, function() {
                        $("#success-alert").slideUp(500);
                    });
                }
                else {
                    document.getElementById("success-alert").style.display = "none";
                    document.getElementById("danger-alert").style.display = "inline-block";
                    var alertText = '<strong>Failure! </strong>';
                    alertText += '@ViewBag.Message';
                    $("#danger-alert").html(alertText);
                    $("#danger-alert").fadeTo(8000, 500).slideUp(500, function() {
                        $("#danger-alert").slideUp(500);
                    });
                }
            } else {
                document.getElementById("success-alert").style.display = "none";
                document.getElementById("danger-alert").style.display = "none";
            }

            $("#categoryToUpload").kendoDropDownList({
                dataSource: {
                    transport: {
                        read: {
                            url: '@Url.Action("GetBannersCategories", "ClientVantageBanners")',
                            dataType: "json"
                        }
                    }
                },
                height: "600",
            });

            $("#categoryToDelete").kendoDropDownList({
                dataSource: {
                    transport: {
                        read: {
                            url: '@Url.Action("GetBannersCategories", "ClientVantageBanners")',
                            dataType: "json"
                        }
                    }
                },
                open: function (e) {
                    document.getElementById("delete-form-row").style.visibility = "hidden";
                    document.getElementById("mobile-delete-form-row").style.visibility = "hidden";
                    document.getElementById("search-results-row").style.visibility = "hidden";
                    document.getElementById("mobile-search-results-row").style.visibility = "hidden";
                },
                height: "600",
                dataBound: function () {
                    
                    var categoryValue = '@ViewBag.Category'; 

                    if (categoryValue && categoryValue.trim() !== '') {
                        var dropdown = this;
                        dropdown.value(categoryValue.trim()); 
                        selectCategoryToDelete();

                        var deleteButton = Array.from(document.getElementsByClassName('collapsible-info')).find(button => button.textContent.trim() === 'Delete ClientVantage Banners');
                             
                        if (deleteButton) {
                            deleteButton.click(); 
                        }
                    }
                }
            });

        })


        function validateUploadForm() {

            if (document.getElementById("imageUrl").files.length == 0 && document.getElementById("imageMobileUrl").files.length == 0) {
                alert("You must select at least one banner to upload!")
                return false;
            }

            return true;
        }

        function selectCategoryToDelete() {

            var spinner = startSpinner("spinningWheel");

            let categoryToDeleteValue = document.getElementById("categoryToDelete").value.trim();
            var bannersList = document.getElementById("banners-list");
            var mobileBannersList = document.getElementById("mobile-banners-list");
            bannersList.innerHTML = '';
            mobileBannersList.innerHTML = '';
            document.getElementById("search-results-row").style.visibility = "hidden";
            document.getElementById("mobile-search-results-row").style.visibility = "hidden";

            $.getJSON('@Url.Action("GetBannersOfCategory", "ClientVantageBanners")?category=' + categoryToDeleteValue, function (results) {

                for (var i = 0; i < results.length; i = i+3) {

                    var bannerName = results[i];
                    var newRow = document.createElement('div');
                    newRow.classList.add('img-row', 'content-center');

                    var newColumn = '<div class="column">' +
                        '<div><small>' + bannerName + '</small></div>' +
                        '<div><img class="small-banner" src = "../img/ClientVantage_Banners_Temp/' + categoryToDeleteValue + '/' + bannerName + '" id="banner-' + bannerName + '"></div>' +
                        '<div><i class="fa fa-trash fa-2x" aria-hidden="true" onclick="deleteBanner(\'' + bannerName + '\', \' ' + categoryToDeleteValue + '\')"></i></div>' +
                        '</div>';

                    if (i + 1 < results.length) {
                        bannerName = results[i + 1];
                        newColumn = newColumn +
                            '<div class="column">' +
                            '<div><small>' + bannerName + '</small></div>' +
                            '<div><img class="small-banner" src = "../img/ClientVantage_Banners_Temp/' + categoryToDeleteValue + '/' + bannerName + '" id="banner-' + bannerName + '"></div>' +
                            '<div><i class="fa fa-trash fa-2x" aria-hidden="true" onclick="deleteBanner(\'' + bannerName + '\', \' ' + categoryToDeleteValue + '\')"></i></div>' +
                            '</div>';
                    }

                    if (i + 2 < results.length) {
                        bannerName = results[i + 2];
                        newColumn = newColumn +
                            '<div class="column">' +
                            '<div><small>' + bannerName + '</small></div>' +
                            '<div><img class="small-banner" src = "../img/ClientVantage_Banners_Temp/' + categoryToDeleteValue + '/' + bannerName + '" id="banner-' + bannerName + '"></div>' +
                            '<div><i class="fa fa-trash fa-2x" aria-hidden="true" onclick="deleteBanner(\'' + bannerName + '\', \' ' + categoryToDeleteValue + '\')"></i></div>' +
                            '</div>';
                    }

                    newRow.innerHTML = newColumn;
                    bannersList.appendChild(newRow);
                }

                document.getElementById("delete-form-row").style.visibility = "visible";
                document.getElementById("search-results").innerHTML = "(" + results.length + " banners found)";
                document.getElementById("search-results-row").style.visibility = "visible";

                $.getJSON('@Url.Action("GetMobileBannersOfCategory", "ClientVantageBanners")?category=' + categoryToDeleteValue, function (mobileResults) {

                    for (var i = 0; i < mobileResults.length; i = i + 3) {

                        var bannerName = mobileResults[i];
                        var newRow = document.createElement('div');
                        newRow.classList.add('img-row', 'content-center');

                        var newColumn = '<div class="column">' +
                            '<div><small>' + bannerName + '</small></div>' +
                            '<div><img class="mobile-small-banner" src = "../img/ClientVantage_Mobile_Banners_Temp/' + categoryToDeleteValue + '/' + bannerName + '" id="banner-' + bannerName + '"></div>' +
                            '<div><i class="fa fa-trash fa-2x" aria-hidden="true" onclick="deleteMobileBanner(\'' + bannerName + '\', \' ' + categoryToDeleteValue + '\')"></i></div>' +
                            '</div>';

                        if (i + 1 < mobileResults.length) {
                            bannerName = mobileResults[i + 1];
                            newColumn = newColumn +
                                '<div class="column">' +
                                '<div><small>' + bannerName + '</small></div>' +
                                '<div><img class="mobile-small-banner" src = "../img/ClientVantage_Mobile_Banners_Temp/' + categoryToDeleteValue + '/' + bannerName + '" id="banner-' + bannerName + '"></div>' +
                                '<div><i class="fa fa-trash fa-2x" aria-hidden="true" onclick="deleteMobileBanner(\'' + bannerName + '\', \' ' + categoryToDeleteValue + '\')"></i></div>' +
                                '</div>';
                        }

                        if (i + 2 < mobileResults.length) {
                            bannerName = mobileResults[i + 2];
                            newColumn = newColumn +
                                '<div class="column">' +
                                '<div><small>' + bannerName + '</small></div>' +
                                '<div><img class="mobile-small-banner" src = "../img/ClientVantage_Mobile_Banners_Temp/' + categoryToDeleteValue + '/' + bannerName + '" id="banner-' + bannerName + '"></div>' +
                                '<div><i class="fa fa-trash fa-2x" aria-hidden="true" onclick="deleteMobileBanner(\'' + bannerName + '\', \' ' + categoryToDeleteValue + '\')"></i></div>' +
                                '</div>';
                        }

                        newRow.innerHTML = newColumn;
                        mobileBannersList.appendChild(newRow);
                    }

                    document.getElementById("mobile-delete-form-row").style.visibility = "visible";
                    document.getElementById("mobile-search-results").innerHTML = "(" + mobileResults.length + " banners found)";
                    document.getElementById("mobile-search-results-row").style.visibility = "visible";
                
                });

                stopSpinner(spinner, "spinningWheel");
            });
        }

        function deleteBanner(bannerName, categoryToDelete) {

            var confirmDelete = confirm("Confirm deleting ClientVantage banner image: " + bannerName + "?");

            if (confirmDelete == true) {

                document.getElementById("delete-form-row").style.visibility = "hidden";
                document.getElementById("mobile-delete-form-row").style.visibility = "hidden";
                document.getElementById("search-results-row").style.visibility = "hidden";
                document.getElementById("mobile-search-results-row").style.visibility = "hidden";

                var spinner = startSpinner("spinningWheel"); 
                $.post('@Url.Action("DeleteCVBanner", "ClientVantageBanners")?categoryToDelete=' + categoryToDelete + '&bannerName=' + bannerName, (result) => {
                    if (result.success) {

                        //alert("ClientVantage banner was deleted successfully! ");
                        //window.location.href = "@Url.Action("Index", "ClientVantageBanners")";

                        Swal.fire({
                             icon: 'success',
                             title: 'Success',
                             html: 'ClientVantage banner was deleted successfully!',
                             confirmButtonText: 'OK'
                        }).then(() => {
                             // var spinner = startSpinner("loadingIndicator");
                             window.location.href = "@Url.Action("Index", "ClientVantageBanners")?category=" + categoryToDelete;
                        });

                    } else {
                        //alert(result.message);
                        Swal.fire({
                             icon: 'error',
                             title: 'Failure deleting ClientVantage banner',
                             text: result.message || 'Unknown error',
                             confirmButtonText: 'OK'
                        });
                        prepareLogList();
                    }
                }).fail((xhr, textStatus, errorThrown) => {
                    //alert("Failure deleting ClientVantage banner: " + `${textStatus} : ${errorThrown}`);
                    Swal.fire({
                         icon: 'error',
                         title: 'Failure deleting ClientVantage banner',
                         text: jqXHR.responseText || 'Unknown error',
                         confirmButtonText: 'OK'
                    });
                    prepareLogList();
                });
            }
        }

        function deleteMobileBanner(bannerName, categoryToDelete) {

            var confirmDelete = confirm("Confirm deleting ClientVantage banner image: " + bannerName + "?");

            if (confirmDelete == true) {

                document.getElementById("delete-form-row").style.visibility = "hidden";
                document.getElementById("mobile-delete-form-row").style.visibility = "hidden";
                document.getElementById("search-results-row").style.visibility = "hidden";
                document.getElementById("mobile-search-results-row").style.visibility = "hidden";

                var spinner = startSpinner("spinningWheel");
                $.post('@Url.Action("DeleteMobileCVBanner", "ClientVantageBanners")?categoryToDelete=' + categoryToDelete + '&bannerName=' + bannerName, (result) => {
                    if (result.success) {
                        alert("ClientVantage mobile banner was deleted successfully! ");
                        window.location.href = "@Url.Action("Index", "ClientVantageBanners")";
                    } else {
                        alert(result.message);
                        prepareLogList();
                    }
                }).fail((xhr, textStatus, errorThrown) => {
                    alert("Failure deleting ClientVantage mobile banner: " + `${textStatus} : ${errorThrown}`);
                    prepareLogList();
                });
            }
        }

        function prepareLogList() {
            setupPagination('log', 'log-list', '@Url.Action("Log", "ClientVantageBanners")?referrerUrl=ClientVantageBanners', ['Log', 'Username', 'Created'], 7);
        }

        function startSpinner(targetId) {
            var opts = {
                lines: 30, // The number of lines to draw
                length: 8, // The length of each line
                width: 18, // The line thickness
                radius: 30, // The radius of the inner circle
                scale: 1, // Scales overall size of the spinner
                corners: 1, // Corner roundness (0..1)
                color: '#A0A0A0',
                fadeColor: 'transparent', // CSS color or array of colors
                speed: 1, // Rounds per second
                rotate: 0, // The rotation offset
                animation: 'spinner-line-fade-quick', // The CSS animation name for the lines
                direction: 1, // 1: clockwise, -1: counterclockwise
                zIndex: 2e9, // The z-index (defaults to 2000000000)
                className: 'spinner', // The CSS class to assign to the spinner
                top: '15%', // Top position relative to parent
                left: '50%', // Left position relative to parent
                shadow: '0 0 1px transparent', // Box-shadow for the lines
                position: 'absolute' // Element positioning
                //position: 'fixed' // Element positioning
            };

            var target = document.getElementById(targetId);
            var spinner = new Spinner(opts).spin(target);
            return spinner;
        }

        function stopSpinner(spinner, targetId) {
            spinner.stop();
        }

        var coll = document.getElementsByClassName("collapsible-info");

        for (var i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {

                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.maxHeight) {
                    content.style.maxHeight = null;
                } else {
                    content.style.maxHeight = "1000000px";   
                }
            });
        }


    </script>
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-12 col-lg-12 col-sm-12 col-xl-12 content-center">
            <div class="alert alert-success" id="success-alert" style="display:none"></div>
            <div class="alert alert-danger" id="danger-alert" style="display:none"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12 content-center">
                            <h4>This tool is to upload and delete ClientVantage banners on the website under Clinic Resources</h4>
                            <a href="https://www.wddc.com/wddc_members/m_Images_CV.aspx" target="_blank"><img id="websiteImg" class="img-shadow" src="~/css/images/WDDC ClientVantage Banners.png" alt="Visit WDDC ClientVantage Banners"></a>
                        </div>
                    </div>
                    <div class="row banners-action" style="margin-top: 50px;">
                        <div class="col-12 col-lg-12 col-sm-12 col-xl-12 collapsible-col content-center">
                            <button type="button" class="collapsible-info">Upload ClientVantage Banners</button>
                            <div class="content">
                                    <form id="upload-form" class="content-center w-60" name="upload-form" method="post" action="@Url.Action("UploadCVBanner", "ClientVantageBanners")" enctype="multipart/form-data" onsubmit="return validateUploadForm()">
                                    <div class="row form-row">
                                         <div class="col-lg-2 form-label-col">
                                             <label for="categoryToUpload" class="control-label control-label-center">Category:</label>
                                         </div>
                                         <div class="col-lg-10">
                                             <div class="row">
                                                 <div class="col-lg-12">
                                                     <div class="demo-section k-content">
                                                          <input id="categoryToUpload" name="categoryToUpload" style="width: 100%;" />
                                                     </div>
                                                 </div>
                                             </div>
                                         </div>
                                    </div>
                                    <div class="row form-row">
                                         <div class="col-lg-2 form-label-col">
                                             <label for="imageUrl" class="control-label control-label-center">Banner:</label>
                                         </div>
                                         <div class="col-lg-10">
                                             <div class="row">
                                                 <div class="col-lg-12">
                                                     <div class="demo-section k-content">
                                                          <input class="form-control form-control-sm" id="imageUrl" name="imageUrl" type="file" accept="image/*">
                                                     </div>
                                                 </div>
                                             </div>
                                         </div>
                                    </div>
                                    <div class="row form-row">
                                         <div class="col-lg-2 form-label-col">
                                             <label for="imageMobileUrl" class="control-label control-label-center">Mobile Banner:</label>
                                         </div>
                                         <div class="col-lg-10">
                                             <div class="row">
                                                 <div class="col-lg-12">
                                                     <div class="demo-section k-content">
                                                            <input class="form-control form-control-sm" id="imageMobileUrl" name="imageMobileUrl" type="file" accept="image/*">
                                                     </div>
                                                 </div>
                                             </div>
                                         </div>
                                    </div>
                                    <div class="row form-row">
                                       @*  <div class="col-lg-2 form-label-col">
                                            
                                        </div> *@
                                        <div class="col-lg-12">
                                            <small>Note: file names must not contain special characters (\ & % )</small>
                                        </div>
                                    </div>
                                    <div class="row form-row" style="padding-top: 20px;">
                                        <div class="col-lg-12 content-center">
                                            <button id="upload-form-submit" type="submit" class="k-button k-primary submit-btn">Upload</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                         <div id="spinningWheel"></div>
                    </div>
                    <div class="row banners-action" style="margin-top: 50px;">
                        <div class="col-12 col-lg-12 col-sm-12 col-xl-12 collapsible-col content-center">
                            <button type="button" class="collapsible-info">Delete ClientVantage Banners</button>
                            <div class="content">
                                <div class="row" style="padding-top: 30px; ">
                                     <div class="col-12 col-lg-12 col-sm-12 col-xl-12 content-center" >
                                          <div class="w-60 content-center">
                                               <h5 style="text-align: left;">Select a category to delete a banner from:</h5>
                                          </div>
                                     </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-lg-12 col-sm-12 col-xl-12" >
                                        <div class="k-content w-60 content-center">
                                            <input id="categoryToDelete" name="categoryToDelete" style="width: 100%;" />
                                            <button class="k-button k-primary submit-btn search-btn" onclick="selectCategoryToDelete()">Search</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row content-center" id="search-results-row" style="visibility:hidden">
                                    <div class="col-12 col-lg-12 col-sm-12 col-xl-12">
                                         <h2>Banners <span id="search-results"></span></h2>
                                    </div>
                                </div>
                                <div class="row content-center" id="delete-form-row" style="visibility:hidden">
                                     <div class="col-12 col-lg-12 col-sm-12 col-xl-12 content-center" id="banners-list"></div>
                                </div> 
                                <div class="row content-center" id="mobile-search-results-row" style="visibility:hidden; margin-top: 120px;">
                                    <div class="col-12 col-lg-12 col-sm-12 col-xl-12">
                                         <h2>Mobile Banners <span id="mobile-search-results"></span></h2>
                                    </div>
                                </div>
                                <div class="row content-center" id="mobile-delete-form-row" style="visibility:hidden">
                                     <div class="col-12 col-lg-12 col-sm-12 col-xl-12 content-center" id="mobile-banners-list"></div>
                                </div> 
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 120px;">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-10 content-center">
                            <div id="log" class="content-center">
                                <div class="bs-ObjectList-rows" id="log-list">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<style>

    .content-center {
        margin: 0px auto 0px auto;
        text-align: center;
    }

    .wrapper-content {
        padding: 10px 10px 20px;
    }

    .ibox-title {
        padding: 15px 0px 15px;
        color: #1565C0;
        border: none;
    }

    .ibox-content {
        padding: 7px 15px 15px 15px;
    }

    .k-button {
        font-size: 1.5rem;
    }

    .breadcrumb {
        display: none;
    }

    label {
        margin-bottom: 0px;
    }

    .form-row {
        margin-top: 20px;
        vertical-align: central;
        display: flex;
    }

    .form-label-col {
        display: flex;
        padding-right: 0;
        justify-content: flex-end;
    }

    .control-label {
        color: #556375;
        font-size: 1.3rem;
    }

    .control-label-center {
        display: flex;
        margin-top: auto;
        margin-bottom: auto;
    }

    .form-control {
        font-size: 1.3rem;
        border-color: #ddd;
    }

    .btn-light {
        color: #212529;
        background-color: #e3e6e8;
        border-color: #dae0e5;
        margin: 2px ;
        font-size: 12px;
    }

        .btn-light:hover {
            color: #212529;
            background-color: #e2e6ea;
            border-color: #dae0e5
        }

        .btn-light.focus, .btn-light:focus {
            color: #212529;
            background-color: #e2e6ea;
            border-color: #dae0e5;
            box-shadow: 0 0 0 .2rem rgba(216,217,219,.5)
        }

    .btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled]:active, .btn-primary.active[disabled], fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary.active {
        color: #fff;
        background-color: #6c757d;
        border-color: #6c757d;
    }

    .bs-ObjectList-row {
        border-radius: 0.25rem;
    }

    .bs-ObjectList-row--header {
        position: relative;
        background-color: #E8E8E8;
    }

        .bs-ObjectList-row--header .bs-ObjectList-cell {
            font-weight: bold;
        }

    .bs-ObjectList-row .bs-ObjectList-cell {
        width: 20%;
        text-align: center;
    }

        .bs-ObjectList-row .bs-ObjectList-cell:last-child {
            width: 20%;
            text-align: center;
        }

        .bs-ObjectList-row .bs-ObjectList-cell:first-child {
            /* width: 60%; */
            text-align: left;
            white-space: pre-wrap;
        }

    .bs-ObjectList-child, .bs-ObjectList-parent, .bs-ObjectList-row {
        display: table-row;
        transition: background-color .15s ease 0s;
    }

    .bs-ObjectList-cell {
        display: table-cell;
        position: relative;
        padding: 9px 10px;
        color: #525f7f;
        font-weight: 400;
        line-height: 22px;
        vertical-align: top;
        white-space: nowrap;
    }

    textarea {
      resize: none;
    }

    h4 {
        color: darkblue;
    }

    .btn {
        padding: 4px 12px;
    }

    .collapsible-col {
        padding-left: 10px;
        padding-right: 10px;
    }

    .collapsible-info {
        background-color: #2e6da4;
        color: white;
        cursor: pointer;
        padding: 8px 20px 8px 20px;
        width: 60%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
    }

    .banners-action .active, .collapsible-info:hover {
        background-color: #337ab7;
    }

    .collapsible-info:after {
        content: '\002B';
        color: white;
        font-weight: bold;
        float: right;
        margin-left: 5px;
    }

    .banners-action .active:after {
        content: "\2212";
    }

    .banners-action p5 {
        font-weight: bold;
    }

    .content {
        padding: 5px 18px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        background-color: #f1f1f1;
    }

    #websiteImg {
       box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
       width: 253px;
       height: 265px;
    }

    #search-results-row {
        margin-top: 70px;
        color: dimgrey;
    }

    #delete-form-row {
        margin-top: 10px;
    }

    .k-dropdown, .k-textbox {
        font-size: 12px;
    }

    .submit-btn {
        margin-top: 10px;
        font-size: 13px;
    }

    .k-footer {
        margin-top: 20px;
        font-weight: bold;
        font-size: 12px;
    }

    .search-btn {
        margin-top: 40px;
    }

    .banners-row {
        padding: 10px 0px;
    }

    .small-banner {
        border-color: #CCCCCC;
        border-width: 1px;
        border-style: Solid;
        height: 75px;
        width: 300px;
    }

    .mobile-small-banner {
        border-color: #CCCCCC;
        border-width: 1px;
        border-style: Solid;
        width: 150px;
        height: 125px;
    }

    .banner-img-col {
        text-align: right;
     }


   .img-row {
       display: -ms-flexbox; /* IE10 */
       display: flex;
       -ms-flex-wrap: wrap; /* IE10 */
       flex-wrap: wrap;
   }

   .column {
       -ms-flex: 33%; /* IE10 */
       flex: 33%;
       max-width: 33%;
       padding: 8px;
   }

   .small-banner, .mobile-small-banner {
        margin: 8px;
        position:relative;
        -webkit-transition: transform .4s ease-out;
        transition: transform .4s ease-out;
   }

    .small-banner:hover, .small-banner:active, .mobile-small-banner:hover, .mobile-small-banner:active {
       -webkit-transform: scale(2);
        transform: scale(2);
        z-index:10;
    }

    .w-60 {
        width: 60%;
    }

    .fa-trash {
        color: #007bff;
        /* margin-left: 15px;
        position:relative; */
        -webkit-transition: transform .3s ease-out;
        transition: transform .3s ease-out;
    }

     .fa-trash:hover, .fa-trash:active {
         cursor: pointer;
         -webkit-transform: scale(2);
         transform: scale(2);
         z-index:10;
     }

     #banners-list, #mobile-banners-list {
         padding-top: 60px;
         padding-bottom: 20px;
         overflow-y: scroll;
         height: 500px;
     }

     #search-results, #mobile-search-results {
         font-size: 12px;
     }

</style>
