@{
    ViewBag.Title = "Supplier Price Sheets";
}

@section Styles {
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://kendo.cdn.telerik.com/2021.2.511/styles/kendo.default.min.css" rel="stylesheet" />
    <link href="https://kendo.cdn.telerik.com/2021.2.511/styles/kendo.bootstrap-v4.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
}

@section Scripts {
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2021.2.511/js/kendo.all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/pagination/pagination.min.js"></script>
    <script src="~/js/pagination/pagination.custom.js"></script>

    <script>
        // Kendo Grid for Bulk Delete
        var selectedPriceSheetIds = [];

        $(document).ready(function () {
            prepareLogList();
            initializeBulkDeleteGrid();

            // Handle alerts
            var alertType = '@TempData["AlertType"]';
            var alertMessage = '@TempData["AlertMessage"]';

            if (alertType && alertMessage) {
                if (alertType === "Success") {
                    showAlert('success', alertMessage);
                } else {
                    showAlert('error', alertMessage);
                }
            }

            // File input handlers
            $("#newInfoFileUrl").on("change", function (e) {
                var fileName = $(this).val().split("\\").pop();
                $("#newInfoFileUrlText").val(fileName);
            });

            $("#updatedInfoFileUrl").on("change", function (e) {
                var fileName = $(this).val().split("\\").pop();
                $("#updatedInfoFileUrlText").val(fileName);
            });

            // Initialize Kendo components
            $("#priceSheetToUpdate").kendoDropDownList({
                filter: "contains",
                valueTemplate: '<span class="k-state-default"><p>#: kendo.toString(new Date(data.IssueDate), "MMMM dd,yyyy") #</p></span>&nbsp;&nbsp;&nbsp;&nbsp;' +
                               '<span class="k-state-default"><p>#: data.Description #</p></span>',
                template: '<span class="k-state-default"><p>#: kendo.toString(new Date(data.IssueDate), "MMMM dd,yyyy") #</p></span>&nbsp;&nbsp;&nbsp;&nbsp;' +
                          '<span class="k-state-default"><p>#: data.Description #</p></span>',
                footerTemplate: 'Total #: instance.dataSource.total() # items found',
                dataTextField: "Description",
                dataValueField: "ID",
                height: 300,
                dataSource: {
                    transport: {
                        read: {
                            url: '@Url.Action("GetPriceSheets", "PriceSheet")',
                            dataType: "json"
                        }
                    }
                },
                open: function(e) {
                    $("#update-form-row").hide();
                },
                filtering: function (ev) {
                    var filterValue = ev.filter != undefined ? ev.filter.value : "";
                    ev.preventDefault();
                    this.dataSource.filter({
                        logic: "or",
                        filters: [
                            { field: "IssueDate", operator: "contains", value: filterValue },
                            { field: "Description", operator: "contains", value: filterValue }
                        ]
                    });
                }
            });

            $("#priceSheetToDelete").kendoDropDownList({
                filter: "contains",
                valueTemplate: '<span class="k-state-default"><p>#: kendo.toString(new Date(data.IssueDate), "MMMM dd,yyyy") #</p></span>&nbsp;&nbsp;&nbsp;&nbsp;' +
                               '<span class="k-state-default"><p>#: data.Description #</p></span>',
                template: '<span class="k-state-default"><p>#: kendo.toString(new Date(data.IssueDate), "MMMM dd,yyyy") #</p></span>&nbsp;&nbsp;&nbsp;&nbsp;' +
                          '<span class="k-state-default"><p>#: data.Description #</p></span>',
                footerTemplate: 'Total #: instance.dataSource.total() # items found',
                dataTextField: "Description",
                dataValueField: "ID",
                height: 300,
                dataSource: {
                    transport: {
                        read: {
                            url: '@Url.Action("GetPriceSheets", "PriceSheet")',
                            dataType: "json"
                        }
                    }
                },
                open: function(e) {
                    $("#delete-form-row").hide();
                },
                filtering: function (ev) {
                    var filterValue = ev.filter != undefined ? ev.filter.value : "";
                    ev.preventDefault();
                    this.dataSource.filter({
                        logic: "or",
                        filters: [
                            { field: "IssueDate", operator: "contains", value: filterValue },
                            { field: "Description", operator: "contains", value: filterValue }
                        ]
                    });
                }
            });

            // Date pickers
            $("#newIssueDate").kendoDatePicker({
                format: "MMMM dd, yyyy",
                value: new Date()
            });

            $("#updatedIssueDate").kendoDatePicker({
                format: "MMMM dd, yyyy"
            });

            $("#deletedIssueDate").kendoDatePicker({
                format: "MMMM dd, yyyy"
            });

            // Collapsible functionality
            $('.collapsible-btn').on('click', function() {
                const $btn = $(this);
                const $content = $btn.next('.collapsible-content');
                const wasOpen = $btn.hasClass('active');

                // Close all other sections
                $('.collapsible-btn.active').not($btn).each(function() {
                    $(this).removeClass('active');
                    $(this).next('.collapsible-content').css('maxHeight', '0px');
                });

                // Toggle clicked section
                if (wasOpen) {
                    $btn.removeClass('active');
                    $content.css('maxHeight', '0px');
                } else {
                    $btn.addClass('active');
                    $content.css('maxHeight', $content[0].scrollHeight + 'px');
                    $content.one('transitionend', function() {
                        if ($content.css('maxHeight') !== '0px') {
                            $content.css('maxHeight', '10000px');
                        }
                    });
                }
            });
        });

        function initializeBulkDeleteGrid() {
            $("#priceSheetGrid").kendoGrid({
                dataSource: {
                    transport: {
                        read: {
                            url: '@Url.Action("GetPriceSheets", "PriceSheet")',
                            dataType: "json"
                        }
                    },
                    schema: {
                        model: {
                            id: "ID",
                            fields: {
                                ID: { type: "number" },
                                IssueDate: { type: "date" },
                                Description: { type: "string" },
                                Status: { type: "number" },
                                IssueNumber: { type: "string" }
                            }
                        }
                    },
                    sort: { field: "IssueDate", dir: "desc" }
                },
                height: 550,
                sortable: true,
                filterable: {
                    mode: "row"
                },
                persistSelection: true,
                change: onGridSelectionChange,
                columns: [
                    {
                        selectable: true,
                        width: "50px",
                        headerTemplate: '<input type="checkbox" id="select-all-checkbox" />',
                        attributes: {
                            style: "text-align: center;"
                        }
                    },
                    {
                        field: "IssueDate",
                        title: "Issue Date",
                        width: "180px",
                        template: "#= kendo.toString(kendo.parseDate(IssueDate), 'MMMM dd, yyyy') #",
                        filterable: {
                            cell: {
                                operator: "contains",
                                showOperators: false
                            }
                        }
                    },
                    {
                        field: "Description",
                        title: "Description",
                        filterable: {
                            cell: {
                                operator: "contains",
                                showOperators: false
                            }
                        }
                    },
                    {
                        field: "Status",
                        title: "Status",
                        width: "120px",
                        template: "# if(Status == 1) { # <span class='badge badge-success'>Visible</span> # } else { # <span class='badge badge-secondary'>Hidden</span> # } #",
                        filterable: {
                            cell: {
                                template: function (args) {
                                    args.element.kendoDropDownList({
                                        dataSource: [
                                            { text: "All", value: "" },
                                            { text: "Visible", value: "1" },
                                            { text: "Hidden", value: "0" }
                                        ],
                                        dataTextField: "text",
                                        dataValueField: "value",
                                        valuePrimitive: true
                                    });
                                },
                                showOperators: false
                            }
                        }
                    },
                    {
                        title: "Actions",
                        width: "100px",
                        template: '<a href="https://www.wddc.com/wddc_members/CS/Price%20Lists/#= IssueNumber #.pdf" target="_blank" class="btn btn-sm btn-info"><i class="fa fa-external-link-alt"></i> View</a>',
                        filterable: false,
                        sortable: false
                    }
                ],
                dataBound: function() {
                    // Handle "Select All" checkbox
                    $("#select-all-checkbox").off("change").on("change", function() {
                        var checked = this.checked;
                        var grid = $("#priceSheetGrid").data("kendoGrid");
                        var dataItems = grid.dataSource.view();

                        if (checked) {
                            dataItems.forEach(function(item) {
                                grid.select(grid.tbody.find("tr[data-uid='" + item.uid + "']"));
                            });
                        } else {
                            grid.clearSelection();
                        }
                    });
                }
            });
        }

        function onGridSelectionChange(e) {
            var grid = e.sender;
            var selectedRows = grid.select();

            selectedPriceSheetIds = [];
            selectedRows.each(function() {
                var dataItem = grid.dataItem(this);
                selectedPriceSheetIds.push(dataItem.ID);
            });

            updateSelectionCount();
        }

        function updateSelectionCount() {
            var count = selectedPriceSheetIds.length;
            $("#selected-count").text(count + " selected");
            $("#bulk-delete-btn").prop("disabled", count === 0);

            // Update "Select All" checkbox state
            var grid = $("#priceSheetGrid").data("kendoGrid");
            if (grid) {
                var totalItems = grid.dataSource.view().length;
                var selectedCount = grid.select().length;

                $("#select-all-checkbox").prop("checked", totalItems > 0 && selectedCount === totalItems);
            }
        }

        function clearSelection() {
            var grid = $("#priceSheetGrid").data("kendoGrid");
            if (grid) {
                grid.clearSelection();
                selectedPriceSheetIds = [];
                updateSelectionCount();
            }
        }

        function bulkDeletePriceSheets() {
            if (selectedPriceSheetIds.length === 0) {
                Swal.fire({
                    icon: 'warning',
                    title: 'No Selection',
                    text: 'Please select at least one price sheet to delete',
                    confirmButtonColor: '#1a73e8'
                });
                return;
            }

            // Build the list of selected items for confirmation
            var grid = $("#priceSheetGrid").data("kendoGrid");
            var selectedItems = [];
            selectedPriceSheetIds.forEach(function(id) {
                var dataItem = grid.dataSource.get(id);
                if (dataItem) {
                    selectedItems.push({
                        description: dataItem.Description,
                        date: kendo.toString(kendo.parseDate(dataItem.IssueDate), 'MMMM dd, yyyy')
                    });
                }
            });

            var itemsList = selectedItems.map(function(item) {
                return '<li style="text-align: left;"><strong>' + item.description + '</strong> - ' + item.date + '</li>';
            }).join('');

            Swal.fire({
                title: 'Confirm Bulk Delete',
                html: `<p>Are you sure you want to <strong>permanently delete</strong> these <strong>${selectedPriceSheetIds.length}</strong> price sheets?</p>
                       <div style="max-height: 300px; overflow-y: auto; margin-top: 15px;">
                           <ul style="list-style-type: none; padding-left: 0;">${itemsList}</ul>
                       </div>
                       <p style="margin-top: 15px; color: #dc3545;"><strong>This action cannot be undone!</strong></p>`,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#dc3545',
                cancelButtonColor: '#6c757d',
                confirmButtonText: 'Yes, Delete All ' + selectedPriceSheetIds.length,
                cancelButtonText: 'Cancel',
                width: '600px'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Show loading indicator
                    Swal.fire({
                        title: 'Deleting...',
                        html: 'Please wait while we delete the selected price sheets.',
                        allowOutsideClick: false,
                        allowEscapeKey: false,
                        showConfirmButton: false,
                        didOpen: () => {
                            Swal.showLoading();
                        }
                    });

                    // Submit the bulk delete request
                    $.ajax({
                        url: '@Url.Action("BulkDeletePriceSheets", "PriceSheet")',
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify({ priceSheetIds: selectedPriceSheetIds }),
                        success: function(response) {
                            Swal.fire({
                                icon: 'success',
                                title: 'Success!',
                                text: `Successfully deleted ${selectedPriceSheetIds.length} price sheet(s)`,
                                showConfirmButton: false,
                                timer: 3000,
                                position: 'center',
                                timerProgressBar: true
                            }).then(() => {
                                // Refresh the grid
                                var grid = $("#priceSheetGrid").data("kendoGrid");
                                grid.dataSource.read();
                                clearSelection();
                            });
                        },
                        error: function(xhr, status, error) {
                            var errorMessage = 'An error occurred while deleting the price sheets.';
                            if (xhr.responseJSON && xhr.responseJSON.message) {
                                errorMessage = xhr.responseJSON.message;
                            }

                            Swal.fire({
                                icon: 'error',
                                title: 'Delete Failed',
                                text: errorMessage,
                                confirmButtonColor: '#1a73e8'
                            });
                        }
                    });
                }
            });
        }

        function showAlert(type, message) {
            if (type === 'success') {
                Swal.fire({
                    icon: 'success',
                    title: 'Success!',
                    text: message,
                    showConfirmButton: false,
                    timer: 3000,
                    position: 'center',
                    timerProgressBar: true
                });
            } else {
                Swal.fire({
                    icon: 'error',
                    title: 'Error!',
                    text: message,
                    confirmButtonColor: '#1a73e8',
                    confirmButtonText: 'OK'
                });
            }
        }

        function selectPriceSheetToUpdate() {
            let priceSheetToUpdateId = $("#priceSheetToUpdate").val().trim();

            $.getJSON('@Url.Action("GetPriceSheetById", "PriceSheet")?ID=' + priceSheetToUpdateId, function (result) {
                $("#updatedPriceSheetId").val(result.ID);
                $("#updatedDescription").val(result.Description);
                $("#updatedIssueDate").data("kendoDatePicker").value(new Date(result.IssueDate));

                if (result.Status == 1)
                    $("#updatedStatusYes").prop("checked", true);
                else
                    $("#updatedStatusNo").prop("checked", true);

                $("#toUpdatePriceSheetLogo").attr("src", "../css/images/pdf-icon.png");
                $("#toUpdatePriceSheetPdf").attr("href", "https://www.wddc.com/wddc_members/CS/Price%20Lists/" + result.IssueNumber + ".pdf");

                $("#update-form-row").slideDown(400);
            });
        }

        function selectPriceSheetToDelete() {
            let priceSheetToDeleteId = $("#priceSheetToDelete").val().trim();

            $.getJSON('@Url.Action("GetPriceSheetById", "PriceSheet")?ID=' + priceSheetToDeleteId, function (result) {
                $("#deletedPriceSheetId").val(result.ID);
                $("#deletedDescription").val(result.Description);
                $("#deletedIssueDate").data("kendoDatePicker").value(new Date(result.IssueDate));
                $("#deletedIssueDate").data("kendoDatePicker").enable(false);

                if (result.Status == 1)
                    $("#deletedStatusYes").prop("checked", true);
                else
                    $("#deletedStatusNo").prop("checked", true);

                $("#toDeletePriceSheetLogo").attr("src", "../css/images/pdf-icon.png");
                $("#toDeletePriceSheetPdf").attr("href", "https://www.wddc.com/wddc_members/CS/Price%20Lists/" + result.IssueNumber + ".pdf");

                $("#delete-form-row").slideDown(400);
            });
        }

        function validateAddForm() {
            var newDescription = $("#newDescription").val().trim();
            if (!newDescription) {
                Swal.fire({ icon: 'warning', title: 'Missing Information', text: 'Please enter a description', confirmButtonColor: '#1a73e8' });
                return false;
            }

            var newInfoFileUrl = $("#newInfoFileUrl").val();
            if (!newInfoFileUrl) {
                Swal.fire({ icon: 'warning', title: 'Missing File', text: 'Please select a PDF file', confirmButtonColor: '#1a73e8' });
                return false;
            }

            var newIssueDate = $("#newIssueDate").val().trim();
            if (!newIssueDate) {
                Swal.fire({ icon: 'warning', title: 'Missing Date', text: 'Please select an issue date', confirmButtonColor: '#1a73e8' });
                return false;
            }

            // Show confirmation dialog
            event.preventDefault();
            Swal.fire({
                title: 'Confirm Add Price Sheet',
                html: `Are you sure you want to add this price sheet?<br><br><strong>${newDescription}</strong><br>${newIssueDate}`,
                icon: 'question',
                showCancelButton: true,
                confirmButtonColor: '#1a73e8',
                cancelButtonColor: '#6c757d',
                confirmButtonText: 'Yes, Add It',
                cancelButtonText: 'Cancel'
            }).then((result) => {
                if (result.isConfirmed) {
                    document.getElementById('add-form').submit();
                }
            });

            return false;
        }

        function validateUpdateForm() {
            var updatedDescription = $("#updatedDescription").val().trim();
            if (!updatedDescription) {
                Swal.fire({ icon: 'warning', title: 'Missing Information', text: 'Please enter a description', confirmButtonColor: '#1a73e8' });
                return false;
            }

            var updatedIssueDate = $("#updatedIssueDate").val().trim();
            if (!updatedIssueDate) {
                Swal.fire({ icon: 'warning', title: 'Missing Date', text: 'Please select an issue date', confirmButtonColor: '#1a73e8' });
                return false;
            }

            // Show confirmation dialog
            event.preventDefault();
            Swal.fire({
                title: 'Confirm Update Price Sheet',
                html: `Are you sure you want to update this price sheet?<br><br><strong>${updatedDescription}</strong><br>${updatedIssueDate}`,
                icon: 'question',
                showCancelButton: true,
                confirmButtonColor: '#1a73e8',
                cancelButtonColor: '#6c757d',
                confirmButtonText: 'Yes, Update It',
                cancelButtonText: 'Cancel'
            }).then((result) => {
                if (result.isConfirmed) {
                    document.getElementById('update-form').submit();
                }
            });

            return false;
        }

        function confirmDeletePriceSheet() {
            event.preventDefault();

            var deletedDescription = $("#deletedDescription").val().trim();
            var deletedIssueDate = $("#deletedIssueDate").val().trim();

            Swal.fire({
                title: 'Confirm Delete Price Sheet',
                html: `Are you sure you want to <strong>permanently delete</strong> this price sheet?<br><br><strong>${deletedDescription}</strong><br>${deletedIssueDate}<br><br>This action cannot be undone!`,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#dc3545',
                cancelButtonColor: '#6c757d',
                confirmButtonText: 'Yes, Delete It',
                cancelButtonText: 'Cancel'
            }).then((result) => {
                if (result.isConfirmed) {
                    document.getElementById('delete-form').submit();
                }
            });

            return false;
        }

        function prepareLogList() {
            setupPagination('log', 'log-list', '@Url.Action("Log", "PriceSheet")?referrerUrl=PriceSheet', ['Log', 'Username', 'Created'], 7);
        }

        function toggleLog() {
            $('#log-section').toggleClass('hidden');
            const isHidden = $('#log-section').hasClass('hidden');
            $('#toggle-log-btn').html(`<i class="fa fa-${isHidden ? 'eye' : 'eye-slash'}"></i> ${isHidden ? 'Show' : 'Hide'} Log`);
        }
    </script>
}

<div class="modern-wrapper">
    <!-- Header Section -->
    <div class="page-header">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-12">
                    <h2 class="page-title">
                        <i class="fa fa-file-invoice-dollar"></i> Supplier Price Sheets Management
                    </h2>
                    <p class="page-subtitle">
                        Add, edit, and delete supplier price sheets
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Main Content -->
    <div class="container-fluid">
        <!-- Add Price Sheet Section -->
        <div class="action-card mb-4">
            <button type="button" class="collapsible-btn">
                <i class="fa fa-plus-circle"></i>
                <span>Add Price Sheet</span>
                <i class="fa fa-chevron-down float-end toggle-icon"></i>
            </button>
            <div class="collapsible-content">
                <form id="add-form" name="add-form" method="post"
                      action="@Url.Action("AddPriceSheet", "PriceSheet")"
                      enctype="multipart/form-data" onsubmit="return validateAddForm()">
                    <div class="row justify-content-center">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-8">
                            <div class="form-group-modern form-group-large form-group-inline">
                                <label for="newDescription" class="form-label-modern form-label-large form-label-inline">
                                    <i class="fa fa-align-left"></i> Description: <span class="text-danger">*</span>
                                </label>
                                <div class="form-input-inline">
                                    <input id="newDescription" name="newDescription" class="form-control-modern form-control-large"
                                           type="text" maxlength="69" placeholder="Enter price sheet description" required />
                                </div>
                            </div>

                            <div class="form-group-modern form-group-large form-group-inline">
                                <label for="newInfoFileUrlText" class="form-label-modern form-label-large form-label-inline">
                                    <i class="fa fa-file-pdf"></i> PDF File: <span class="text-danger">*</span>
                                </label>
                                <div class="form-input-inline">
                                    <div class="file-upload-wrapper">
                                        <input id="newInfoFileUrlText" name="newInfoFileUrlText" class="form-control form-control-large"
                                               type="text" readonly placeholder="No file selected" />
                                        <input id="newInfoFileUrl" name="newInfoFileUrl" type="file" accept=".pdf" style="display:none" required />
                                        <button type="button" class="btn btn-light" onclick="$('#newInfoFileUrl').click()">
                                            <i class="fa fa-cloud-upload-alt"></i> Browse
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group-modern form-group-large form-group-inline">
                                <label for="newIssueDate" class="form-label-modern form-label-large form-label-inline">
                                    <i class="fa fa-calendar-alt"></i> Issue Date: <span class="text-danger">*</span>
                                </label>
                                <div class="form-input-inline" style="display: flex; justify-content: flex-start;">
                                    <input id="newIssueDate" name="newIssueDate" class="form-control-modern" style="width: 50%" />
                                </div>
                            </div>

                            <div class="form-group-modern form-group-large form-group-inline">
                                <label for="newStatus" class="form-label-modern form-label-large form-label-inline">
                                    <i class="fa fa-eye"></i> Visibility:
                                </label>
                                <div class="form-input-inline">
                                    <div class="radio-group">
                                        <label class="radio-label">
                                            <input type="radio" id="newStatusYes" name="newStatus" value="yes" checked />
                                            <span class="radio-custom"></span>
                                            <span>Visible</span>
                                        </label>
                                        <label class="radio-label">
                                            <input type="radio" id="newStatusNo" name="newStatus" value="no" />
                                            <span class="radio-custom"></span>
                                            <span>Hidden</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2"></div>
                    </div>

                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary btn-modern btn-md">
                            <i class="fa fa-plus"></i> Add Price Sheet
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <!-- Update Price Sheet Section -->
        <div class="action-card mb-4">
            <button type="button" class="collapsible-btn">
                <i class="fa fa-edit"></i>
                <span>Update Price Sheet</span>
                <i class="fa fa-chevron-down float-end toggle-icon"></i>
            </button>
            <div class="collapsible-content">
                <div class="search-section">
                    <div class="row justify-content-center">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-8">
                            <div class="form-group-modern">
                                <label class="form-label-modern">
                                    <i class="fa fa-search"></i> Search Price Sheet to Update
                                </label>
                                <input id="priceSheetToUpdate" class="form-control-modern" />
                            </div>
                            <div class="text-center mt-3">
                                <button type="button" class="btn btn-primary btn-modern" onclick="selectPriceSheetToUpdate()">
                                    <i class="fa fa-check"></i> Select
                                </button>
                            </div>
                        </div>
                        <div class="col-lg-2"></div>
                    </div>
                </div>

                <div id="update-form-row" style="display:none;" class="mt-5">
                    <div class="row justify-content-center">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-8">
                            <div class="update-form-container">
                                <h5 class="section-title">
                                    <i class="fa fa-edit"></i> Update Selected Price Sheet
                                </h5>

                                <div class="preview-section mb-4">
                                    <p class="preview-label">Current Price Sheet Preview</p>
                                    <a href="#" id="toUpdatePriceSheetPdf" target="_blank" class="preview-link">
                                        <img id="toUpdatePriceSheetLogo" class="preview-image-pdf" alt="Price Sheet Preview" />
                                        <div class="preview-overlay">
                                            <i class="fa fa-external-link-alt"></i>
                                        </div>
                                    </a>
                                </div>

                                <form id="update-form" name="update-form" method="post"
                                      action="@Url.Action("UpdatePriceSheet", "PriceSheet")"
                                      enctype="multipart/form-data" onsubmit="return validateUpdateForm()">
                                    <input type="hidden" id="updatedPriceSheetId" name="updatedPriceSheetId" />

                                    <div class="form-group-modern form-group-large form-group-inline">
                                        <label for="updatedDescription" class="form-label-modern form-label-large form-label-inline">
                                            <i class="fa fa-align-left"></i> Description:
                                        </label>
                                        <div class="form-input-inline">
                                            <input id="updatedDescription" name="updatedDescription" class="form-control-modern form-control-large"
                                                   type="text" maxlength="69" />
                                        </div>
                                    </div>

                                    <div class="form-group-modern form-group-large form-group-inline">
                                        <label for="updatedInfoFileUrlText" class="form-label-modern form-label-large form-label-inline">
                                            <i class="fa fa-file-pdf"></i> PDF File:
                                        </label>
                                        <div class="form-input-inline">
                                            <div class="file-upload-wrapper">
                                                <input id="updatedInfoFileUrlText" name="updatedInfoFileUrlText" class="form-control form-control-large"
                                                       type="text" readonly placeholder="Leave empty to keep current PDF" />
                                                <input id="updatedInfoFileUrl" name="updatedInfoFileUrl" type="file" accept=".pdf" style="display:none" />
                                                <button type="button" class="btn btn-light" onclick="$('#updatedInfoFileUrl').click()">
                                                    <i class="fa fa-cloud-upload-alt"></i> Browse
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group-modern form-group-large form-group-inline">
                                        <label for="updatedIssueDate" class="form-label-modern form-label-large form-label-inline">
                                            <i class="fa fa-calendar-alt"></i> Issue Date:
                                        </label>
                                        <div class="form-input-inline">
                                            <input id="updatedIssueDate" name="updatedIssueDate" class="form-control-modern" style="width: 50%" />
                                        </div>
                                    </div>

                                    <div class="form-group-modern form-group-large form-group-inline">
                                        <label for="updatedStatus" class="form-label-modern form-label-large form-label-inline">
                                            <i class="fa fa-eye"></i> Visibility:
                                        </label>
                                        <div class="form-input-inline">
                                            <div class="radio-group">
                                                <label class="radio-label">
                                                    <input type="radio" id="updatedStatusYes" name="updatedStatus" value="yes" checked />
                                                    <span class="radio-custom"></span>
                                                    <span>Visible</span>
                                                </label>
                                                <label class="radio-label">
                                                    <input type="radio" id="updatedStatusNo" name="updatedStatus" value="no" />
                                                    <span class="radio-custom"></span>
                                                    <span>Hidden</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-actions">
                                        <button type="submit" class="btn btn-primary btn-modern btn-md">
                                            <i class="fa fa-save"></i> Update Price Sheet
                                        </button>
                                        <button type="button" class="btn btn-secondary btn-modern btn-md" onclick="$('#update-form-row').slideUp(400)">
                                            <i class="fa fa-times"></i> Cancel
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-2"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Delete Price Sheet Section -->
        <div class="action-card mb-4">
            <button type="button" class="collapsible-btn">
                <i class="fa fa-trash"></i>
                <span>Delete Price Sheet</span>
                <i class="fa fa-chevron-down float-end toggle-icon"></i>
            </button>
            <div class="collapsible-content">
                <div class="search-section">
                    <div class="row justify-content-center">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-8">
                            <div class="form-group-modern">
                                <label class="form-label-modern">
                                    <i class="fa fa-search"></i> Search Price Sheet to Delete
                                </label>
                                <input id="priceSheetToDelete" class="form-control-modern" />
                            </div>
                            <div class="text-center mt-3">
                                <button type="button" class="btn btn-primary btn-modern" onclick="selectPriceSheetToDelete()">
                                    <i class="fa fa-check"></i> Select
                                </button>
                            </div>
                        </div>
                        <div class="col-lg-2"></div>
                    </div>
                </div>

                <div id="delete-form-row" style="display:none;" class="mt-5">
                    <div class="row justify-content-center">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-8">
                            <div class="update-form-container">
                                <h5 class="section-title">
                                    <i class="fa fa-trash"></i> Delete Selected Price Sheet
                                </h5>

                                <div class="preview-section mb-4">
                                    <p class="preview-label">Price Sheet to Delete</p>
                                    <a href="#" id="toDeletePriceSheetPdf" target="_blank" class="preview-link">
                                        <img id="toDeletePriceSheetLogo" class="preview-image-pdf" alt="Price Sheet Preview" />
                                        <div class="preview-overlay">
                                            <i class="fa fa-external-link-alt"></i>
                                        </div>
                                    </a>
                                </div>

                                <form id="delete-form" name="delete-form" method="post"
                                      action="@Url.Action("DeletePriceSheet", "PriceSheet")">
                                    <input type="hidden" id="deletedPriceSheetId" name="deletedPriceSheetId" />

                                    <div class="form-group-modern form-group-large form-group-inline">
                                        <label for="deletedDescription" class="form-label-modern form-label-large form-label-inline">
                                            <i class="fa fa-align-left"></i> Description:
                                        </label>
                                        <div class="form-input-inline">
                                            <input id="deletedDescription" name="deletedDescription" class="form-control-modern form-control-large"
                                                   type="text" maxlength="69" disabled />
                                        </div>
                                    </div>

                                    <div class="form-group-modern form-group-large form-group-inline">
                                        <label for="deletedIssueDate" class="form-label-modern form-label-large form-label-inline">
                                            <i class="fa fa-calendar-alt"></i> Issue Date:
                                        </label>
                                        <div class="form-input-inline">
                                            <input id="deletedIssueDate" name="deletedIssueDate" class="form-control-modern" style="width: 50%" disabled />
                                        </div>
                                    </div>

                                    <div class="form-group-modern form-group-large form-group-inline">
                                        <label for="deletedStatus" class="form-label-modern form-label-large form-label-inline">
                                            <i class="fa fa-eye"></i> Visibility:
                                        </label>
                                        <div class="form-input-inline">
                                            <div class="radio-group">
                                                <label class="radio-label">
                                                    <input type="radio" id="deletedStatusYes" name="deletedStatus" value="yes" disabled />
                                                    <span class="radio-custom"></span>
                                                    <span>Visible</span>
                                                </label>
                                                <label class="radio-label">
                                                    <input type="radio" id="deletedStatusNo" name="deletedStatus" value="no" disabled />
                                                    <span class="radio-custom"></span>
                                                    <span>Hidden</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-actions">
                                        <button type="button" class="btn btn-danger btn-modern btn-md" onclick="confirmDeletePriceSheet()">
                                            <i class="fa fa-trash"></i> Delete Price Sheet
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-2"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bulk Delete Price Sheets Section -->
        <div class="action-card mb-4">
            <button type="button" class="collapsible-btn">
                <i class="fa fa-trash-alt"></i>
                <span>Bulk Delete Price Sheets</span>
                <i class="fa fa-chevron-down float-end toggle-icon"></i>
            </button>
            <div class="collapsible-content">
                <div class="bulk-delete-section">
                    <div class="row justify-content-center">
                        <div class="col-lg-12">
                            <div class="alert alert-info" role="alert">
                                <i class="fa fa-info-circle"></i>
                                <strong>Bulk Delete:</strong> Select multiple price sheets below and delete them all at once.
                                Use the checkbox in the header to select/deselect all items.
                            </div>

                            <div class="selection-summary mb-3">
                                <span id="selected-count" class="badge badge-primary">0 selected</span>
                                <button type="button" id="bulk-delete-btn" class="btn btn-danger btn-modern btn-sm ml-3"
                                        onclick="bulkDeletePriceSheets()" disabled>
                                    <i class="fa fa-trash"></i> Delete Selected
                                </button>
                                <button type="button" class="btn btn-secondary btn-modern btn-sm ml-2"
                                        onclick="clearSelection()">
                                    <i class="fa fa-times"></i> Clear Selection
                                </button>
                            </div>

                            <div id="priceSheetGrid"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Log Section -->
        <div class="log-section-container mt-5">
            <div class="text-center mb-3">
                <button type="button" id="toggle-log-btn" class="btn btn-outline-secondary btn-sm" onclick="toggleLog()">
                    <i class="fa fa-eye"></i> Show Log
                </button>
            </div>
            <div id="log-section" class="log-content hidden">
                <div id="log">
                    <div class="bs-ObjectList-rows" id="log-list"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    /* ===== GLOBAL & LAYOUT ===== */
    #page-heading {
        display: none;
    }

    .breadcrumb {
        display: none;
    }

    .modern-wrapper {
        background: #f8f9fa;
        min-height: 100vh;
        padding-bottom: 40px;
    }

    .text-danger {
        color: #dc3545;
    }

    /* ===== PAGE HEADER ===== */
    .page-header {
        background: transparent;
        color: #333;
        padding: 20px 0 20px 15px;
        margin: 5px 0 10px;
    }

    .page-title {
        font-size: 2rem;
        font-weight: 600;
        margin: 0;
        display: flex;
        align-items: center;
        gap: 15px;
        color: #1a73e8;
    }

    .page-subtitle {
        margin: 10px 0 0;
        color: #666;
        font-size: 1.1rem;
    }

    /* ===== ACTION CARDS & COLLAPSIBLE ===== */
    .action-card {
        background: white;
        border-radius: 15px;
        box-shadow: 0 2px 15px rgba(0,0,0,0.08);
        overflow: hidden;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        margin-bottom: 30px;
    }

        .action-card:hover {
            box-shadow: 0 4px 20px rgba(0,0,0,0.12);
        }

    .collapsible-btn {
        width: 100%;
        background: linear-gradient(135deg, #2e6da4 0%, #3d7fb8 100%);
        color: white;
        border: none;
        padding: 20px 30px;
        font-size: 15px;
        font-weight: 600;
        text-align: left;
        cursor: pointer;
        transition: all 0.3s ease;
        display: flex;
        align-items: center;
        gap: 15px;
    }

        .collapsible-btn:hover,
        .collapsible-btn.active {
            background: linear-gradient(135deg, #245682 0%, #2e6da4 100%);
        }

        .collapsible-btn .toggle-icon {
            transition: transform 0.3s ease;
        }

        .collapsible-btn.active .toggle-icon {
            transform: rotate(180deg);
        }

    .collapsible-content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease-in-out, padding 0.4s ease-in-out;
        padding: 0 30px;
        background: white;
    }

    .action-card .collapsible-btn.active + .collapsible-content {
        padding: 30px;
    }

    /* ===== FORMS ===== */
    .form-group-modern {
        margin-bottom: 25px;
    }

    .form-group-large {
        margin-bottom: 5px;
    }

    .form-group-inline {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .form-label-modern {
        font-weight: 600;
        color: #495057;
        margin-bottom: 8px;
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 1.05rem;
    }

    .form-label-large {
        font-size: 1.3rem !important;
        font-weight: 700;
    }

    .form-label-inline {
        margin-bottom: 0 !important;
        min-width: 180px;
        flex-shrink: 0;
        justify-content: flex-start;
    }

    .form-input-inline {
        flex: 1;
        text-align: left;
    }

    .form-control-modern,
    #add-form .form-control,
    #add-form .form-control-large,
    #update-form .form-control,
    #update-form .form-control-large,
    #delete-form .form-control,
    #delete-form .form-control-large,
    .update-form-container .file-upload-wrapper .form-control {
        width: 100%;
        border-radius: 8px;
        border: 2px solid #ced4da !important;
        padding: 10px 15px;
        transition: all 0.3s ease;
    }

        .form-control-modern:focus,
        .update-form-container .file-upload-wrapper .form-control:focus {
            border-color: #1a73e8 !important;
            box-shadow: 0 0 0 0.2rem rgba(26, 115, 232, 0.25) !important;
        }

    .form-control-large {
        font-size: 1.2rem !important;
    }

    .file-upload-wrapper {
        display: flex;
        gap: 0.5rem;
    }

    .form-actions {
        text-align: center;
        margin-top: 30px;
        padding-top: 20px;
        border-top: 2px solid #e9ecef;
    }

    .search-section {
        padding: 20px 0;
    }

    .update-form-container {
        padding: 10px 30px;
        border-radius: 12px;
        margin-top: 20px;
        border: 1px solid #ced4da;
        box-shadow: 0 4px 20px rgba(0,0,0,0.25);
    }

    .section-title {
        font-size: 1.3rem;
        font-weight: 600;
        color: #495057;
        margin-bottom: 25px;
        display: flex;
        align-items: center;
        gap: 10px;
        padding-bottom: 15px;
        border-bottom: 2px solid #ced4da;
    }

    /* ===== BUTTONS ===== */
    .btn-modern {
        border-radius: 8px;
        padding: 12px 30px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        transition: all 0.3s ease;
        border: none;
        box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    }

        .btn-modern:hover {
            box-shadow: 0 4px 12px rgba(0,0,0,0.2);
        }

        .btn-modern i {
            margin-right: 8px;
        }

    .btn-sm {
        padding: 8px 20px;
        font-size: 0.85rem;
    }

    .btn-light {
        color: #212529;
        background-color: white;
        border: 2px solid #e9ecef;
        padding: 0.625rem 1.25rem;
        border-radius: 8px;
        font-weight: 600;
        font-size: 0.9rem;
    }

        .btn-light:hover {
            background-color: #f8f9fa;
            border-color: #1a73e8;
            color: #1a73e8;
        }

    .btn-info {
        background-color: #17a2b8;
        color: white !important;
        border: none;
        padding: 5px 10px;
        border-radius: 4px;
        font-size: 0.85rem;
        text-decoration: none;
    }

        .btn-info:hover {
            background-color: #138496;
            color: white;
        }

    /* ===== PREVIEW SECTION ===== */
    .preview-section {
        text-align: center;
        margin-bottom: 2rem;
        padding: 2rem;
        background: #f8f9fa;
        border-radius: 12px;
    }

    .preview-label {
        font-weight: 600;
        color: #64748b;
        margin-bottom: 1rem;
        font-size: 0.95rem;
    }

    .preview-link {
        display: inline-block;
        position: relative;
        border-radius: 12px;
        overflow: hidden;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

        .preview-link:hover {
            transform: scale(1.05);
            box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
        }

    .preview-image-pdf {
        width: 81px;
        height: 100px;
        object-fit: cover;
        display: block;
        border: 4px solid white;
    }

    .preview-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(37, 99, 235, 0.9);
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity 0.3s ease;
        color: white;
        font-size: 2.5rem;
    }

    /* ===== RADIO BUTTONS ===== */
    .radio-group {
        display: flex;
        gap: 1.5rem;
    }

    .radio-label {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;
        font-size: 1rem;
        color: #495057;
        font-weight: 500;
    }

        .radio-label input[type="radio"] {
            display: none;
        }

    .radio-custom {
        width: 24px;
        height: 24px;
        border: 2px solid #e2e8f0;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;
    }

        .radio-custom::after {
            content: '';
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background: #1a73e8;
            transform: scale(0);
            transition: transform 0.2s ease;
        }

    .radio-label input[type="radio"]:checked + .radio-custom {
        border-color: #1a73e8;
    }

        .radio-label input[type="radio"]:checked + .radio-custom::after {
            transform: scale(1);
        }

    .radio-label input[type="radio"]:disabled + .radio-custom {
        opacity: 0.5;
        cursor: not-allowed;
    }

    /* ===== BULK DELETE SECTION ===== */
    .bulk-delete-section {
        padding: 20px 0;
    }

    .selection-summary {
        display: flex;
        align-items: center;
        padding: 15px;
        background: #f8f9fa;
        border-radius: 8px;
        border: 1px solid #dee2e6;
    }

        .selection-summary .badge {
            font-size: 1rem;
            padding: 8px 15px;
        }

        .selection-summary .badge-primary {
            background-color: #1a73e8;
        }

    .ml-2 {
        margin-left: 0.5rem !important;
    }

    .ml-3 {
        margin-left: 1rem !important;
    }

    .badge-success {
        background-color: #28a745;
        color: white;
        padding: 5px 10px;
        border-radius: 4px;
        font-size: 0.85rem;
    }

    .badge-secondary {
        background-color: #6c757d;
        color: white;
        padding: 5px 10px;
        border-radius: 4px;
        font-size: 0.85rem;
    }

    /* Kendo Grid Styling for Price Sheets */
    #priceSheetGrid {
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 2px 8px rgba(0,0,0,0.1);
        font-size: 1.05rem !important;
    }

        #priceSheetGrid .k-grid-header {
            color: inherit;
            font-weight: 600;
            font-size: 1.1rem !important;
        }

            #priceSheetGrid .k-grid-header .k-header {
                color: inherit;
                border-color: rgba(255,255,255,0.2);
            }

        #priceSheetGrid .k-selected, .k-state-selected {
            background-color: #f8f9fa !important;
        }

            #priceSheetGrid .k-selected td {
                background-color: #f8f9fa !important;
            }

        #priceSheetGrid .k-grid-content {
            max-height: 550px;
        }

        /* #priceSheetGrid .k-alt {
            background-color: #f8f9fa;
        } */

    .alert-info {
        background-color: #d1ecf1;
        border-color: #bee5eb;
        color: #0c5460;
        border-radius: 8px;
        padding: 15px;
        margin-bottom: 20px;
    }

    /* ===== LOG SECTION ===== */
    .log-section-container {
        background: white;
        padding: 20px;
        border-radius: 15px;
        box-shadow: 0 2px 15px rgba(0,0,0,0.08);
    }

    .log-content {
        transition: all 0.4s ease-in-out;
        opacity: 1;
        max-height: 2000px;
        overflow: hidden;
    }

        .log-content.hidden {
            opacity: 0;
            max-height: 0;
            margin-top: 0 !important;
            padding: 0;
        }

    .bs-ObjectList-rows {
        display: table;
        width: 100%;
    }

    .bs-ObjectList-row {
        display: table-row;
        transition: background-color 0.2s ease;
    }

    .bs-ObjectList-row--header {
        background-color: #DCDCDC;
        color: #707070;
    }

        .bs-ObjectList-row--header .bs-ObjectList-cell {
            font-weight: 600;
            padding: 10px;
        }

    .bs-ObjectList-cell {
        display: table-cell;
        padding: 12px 10px;
        vertical-align: middle;
        border-bottom: 1px solid #e9ecef;
    }

        .bs-ObjectList-cell:first-child {
            width: 60%;
            text-align: left;
            white-space: pre-wrap;
        }

        .bs-ObjectList-cell:not(:first-child) {
            width: 20%;
            text-align: center;
        }

    /* ===== KENDO UI OVERRIDES ===== */
    .k-calendar td.k-state-selected .k-link {
        background: #1a73e8;
        border-color: #1a73e8;
    }

    .k-calendar {
        font-size: 1.1rem !important;
    }

        .k-calendar .k-content {
            font-size: 1rem !important;
        }

    /* DatePicker Styling */
    .k-datepicker .k-input,
    .k-datepicker input,
    #newIssueDate,
    #updatedIssueDate,
    #deletedIssueDate {
        font-size: 1.2rem !important;
    }

    #add-form .k-datepicker,
    #update-form .k-datepicker,
    #delete-form .k-datepicker {
        border: none !important;
        border-radius: 8px !important;
        display: block !important;
    }

        #add-form .k-datepicker .k-picker-wrap,
        #update-form .k-datepicker .k-picker-wrap,
        #delete-form .k-datepicker .k-picker-wrap {
            border: 2px solid #ced4da !important;
            border-radius: 8px !important;
        }

        #add-form .k-datepicker .k-input,
        #update-form .k-datepicker .k-input,
        #delete-form .k-datepicker .k-input {
            border: none !important;
        }

    #add-form .form-input-inline .k-datepicker,
    #update-form .form-input-inline .k-datepicker,
    #delete-form .form-input-inline .k-datepicker {
        margin-left: 0 !important;
        padding-left: 0 !important;
    }

        #add-form .form-input-inline .k-datepicker .k-picker-wrap,
        #update-form .form-input-inline .k-datepicker .k-picker-wrap,
        #delete-form .form-input-inline .k-datepicker .k-picker-wrap {
            margin-left: 0 !important;
        }

    /* DropDownList Styling */
    #priceSheetToUpdate,
    #priceSheetToDelete {
        border: none !important;
    }

    .search-section .k-dropdown.form-control-modern {
        border: 2px solid #ced4da !important;
        border-radius: 8px !important;
        box-shadow: none !important;
        padding: 0 !important;
    }

        .search-section .k-dropdown.form-control-modern:hover {
            border-color: #1a73e8 !important;
        }

        .search-section .k-dropdown.form-control-modern:focus,
        .search-section .k-dropdown.form-control-modern.k-state-focused,
        .search-section .k-dropdown.form-control-modern.k-state-hover {
            border-color: #1a73e8 !important;
            box-shadow: 0 0 0 0.2rem rgba(26, 115, 232, 0.25) !important;
        }

    .search-section .k-dropdown .k-dropdown-wrap {
        border: none !important;
        box-shadow: none !important;
        padding: 8px 15px !important;
    }

        .search-section .k-dropdown .k-dropdown-wrap.k-state-default,
        .search-section .k-dropdown .k-dropdown-wrap.k-state-hover,
        .search-section .k-dropdown .k-dropdown-wrap.k-state-focused {
            border: none !important;
            background: transparent !important;
        }

    .search-section .k-dropdown .k-input {
        border: none !important;
        padding: 0 !important;
        font-size: 1.2rem;
    }

    .search-section .k-dropdown .k-select {
        border: none !important;
        border-left: 1px solid #e9ecef !important;
        background: transparent;
        padding: 0 10px;
    }

    .search-section .k-dropdown:hover .k-select {
        border-left-color: #1a73e8 !important;
    }

    /* DropDownList Popup */
    .k-list-container.k-list-container {
        border: 2px solid #ced4da !important;
        border-radius: 8px !important;
        box-shadow: 0 4px 12px rgba(0,0,0,0.15) !important;
        margin-top: 4px !important;
    }

    .k-list .k-item {
        padding: 8px 15px !important;
        border: none !important;
        font-size: 1.05rem !important;
    }

        .k-list .k-item:hover {
            background-color: #f8f9fa !important;
            border: none !important;
        }

        .k-list .k-item.k-state-selected {
            background-color: #1a73e8 !important;
            color: white !important;
            border: none !important;
        }

    /* ===== DELETE FORM SPECIFIC ===== */
    #delete-form #deletedDescription:disabled {
        opacity: 0.6;
        cursor: not-allowed;
        background-color: #f8f9fa;
    }

    /* ===== RESPONSIVE ===== */
    @@media (max-width: 768px) {
        .page-title {
            font-size: 1.5rem;
        }

        .page-subtitle {
            font-size: 1rem;
        }

        .collapsible-btn {
            padding: 15px 20px;
            font-size: 1rem;
        }

        .collapsible-content {
            padding: 0 20px;
        }
    }

    /* Override Kendo Grid Filter Row and Sorted Column Background */
    #priceSheetGrid .k-filter-row {
        background-color: #ffffff !important;
    }

        #priceSheetGrid .k-filter-row th {
            background-color: #f8f9fa !important;
            border-bottom: 2px solid #dee2e6 !important;
        }

    /* Remove blue background from sorted columns in body */
    #priceSheetGrid .k-sorted,
    #priceSheetGrid th.k-sorted,
    #priceSheetGrid td.k-sorted {
        background-color: transparent !important;
        background-image: none !important;
    }

    #priceSheetGrid tbody .k-sorted,
    #priceSheetGrid tbody td.k-sorted {
        background-color: inherit !important;
    }

    /* Ensure alternating row colors are preserved */
    #priceSheetGrid .k-grid-content tr.k-alt td.k-sorted,
    #priceSheetGrid .k-grid-content tr.k-alt .k-sorted {
        background-color: #f8f9fa !important;
    }

    #priceSheetGrid .k-grid-content tr:not(.k-alt) td.k-sorted,
    #priceSheetGrid .k-grid-content tr:not(.k-alt) .k-sorted {
        background-color: #ffffff !important;
    }

    /* Override Kendo's default sorted column styling for newer versions */
    #priceSheetGrid .k-grid-content .k-table-tbody .k-table-row td.k-sorted {
        background-color: inherit !important;
    }

    #priceSheetGrid .k-grid-content .k-table-tbody .k-table-row.k-alt td.k-sorted {
        background-color: #f8f9fa !important;
    }

    /* Remove blue background from filter inputs */
    #priceSheetGrid .k-filter-row input,
    #priceSheetGrid .k-filter-row .k-dropdown,
    #priceSheetGrid .k-filter-row .k-textbox {
        background-color: #ffffff !important;
    }


    /* ===== CHECKBOX STYLING ===== */
    /* Make checkboxes larger in the grid */
    #priceSheetGrid input[type="checkbox"] {
        width: 15px !important;
        height: 15px !important;
        cursor: pointer;
        /* transform: scale(1.3); */
    }

    /* Make the select-all checkbox in header larger */
    #priceSheetGrid .k-grid-header input[type="checkbox"]#select-all-checkbox {
        width: 15px !important;
        height: 15px !important;
        cursor: pointer;
        /* transform: scale(1.3); */
    }

    /* Adjust spacing for larger checkboxes */
    #priceSheetGrid .k-grid-content td:first-child,
    #priceSheetGrid .k-grid-header th:first-child {
        vertical-align: middle;
        padding: 10px !important;
    }
</style>