@using Microsoft.AspNetCore.Hosting
@inject IWebHostEnvironment Environment

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WDDC - @ViewBag.Title</title>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>

    <environment include="Production">
        <!-- Bundled CSS -->
        <link href="~/css/site.min.css" rel="stylesheet" />

        <!-- Individual CSS files (not bundled) -->
        <link href="~/css/plugins/dataTables/datatables.bootstrap.min.css" rel="stylesheet" />
        <link href="~/css/plugins/dataTables/FixedHeader-3.1.3/fixedHeader.bootstrap.min.css" rel="stylesheet" />
        <link href="~/css/plugins/dataTables/FixedColumns-3.2.4/fixedColumns.bootstrap.min.css" rel="stylesheet" />
        <link href="~/css/plugins/dataTables/Buttons-1.5.1/buttons.bootstrap.min.css" rel="stylesheet" />
        <link href="~/css/plugins/dataTables/select.bootstrap.min.css" rel="stylesheet" />
        <link href="~/css/plugins/datapicker/datepicker3.css" rel="stylesheet" />
        <link href="~/css/plugins/touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
        <link href="~/css/plugins/select2/select2.min.css" rel="stylesheet" />
        <link href="~/css/plugins/dropzone/basic.css" rel="stylesheet" />
        <link href="~/css/plugins/dropzone/dropzone.css" rel="stylesheet" />
    </environment>

    <environment include="Development">
        <link href="~/css/plugins/iCheck/custom.css" rel="stylesheet" />
        <link href="~/css/plugins/toastr/toastr.min.css" rel="stylesheet" />
        <link href="~/css/jquery-ui.css" rel="stylesheet" type="text/css" />
        <link href="~/css/bootstrap.css" rel="stylesheet" />
        <link href="~/css/animate.css" rel="stylesheet" />
        <link href="~/css/style.css" rel="stylesheet" />
        <link href="~/css/site.css" rel="stylesheet" />
        <link href="~/css/font-awesome/css/font-awesome.css" rel="stylesheet" />

        <link href="~/css/plugins/dataTables/datatables.bootstrap.min.css" rel="stylesheet" />
        <link href="~/css/plugins/dataTables/FixedHeader-3.1.3/fixedHeader.bootstrap.min.css" rel="stylesheet" />
        <link href="~/css/plugins/dataTables/FixedColumns-3.2.4/fixedColumns.bootstrap.min.css" rel="stylesheet" />
        <link href="~/css/plugins/dataTables/Buttons-1.5.1/buttons.bootstrap.min.css" rel="stylesheet" />
        <link href="~/css/plugins/dataTables/select.bootstrap.min.css" rel="stylesheet" />

        <link href="~/css/plugins/datapicker/datepicker3.css" rel="stylesheet" />

        <link href="~/css/plugins/touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />

        <link href="~/css/plugins/select2/select2.min.css" rel="stylesheet" />

        <link href="~/css/plugins/dropzone/basic.css" rel="stylesheet" />
        <link href="~/css/plugins/dropzone/dropzone.css" rel="stylesheet" />
    </environment>

    @RenderSection("Styles", required: false)

</head>
<body>
    <div id="wrapper" class="Index">
        @await Html.PartialAsync("_Navigation")

        <!-- Page wraper -->
        <div id="page-wrapper" class="gray-bg @ViewBag.SpecialClass">

            <!-- Top Navbar -->
            @await Html.PartialAsync("_TopNavbar")

            @await Html.PartialAsync("_Breadcrumb")
            <!-- Main view  -->
            @RenderBody()

            <!-- Footer -->
            @await Html.PartialAsync("_Footer")

        </div>
        <!-- End page wrapper-->
        <!-- Right Sidebar -->
        @await Html.PartialAsync("_RightSidebar")
    </div>

    <!-- End wrapper-->
    <!-- Section for main scripts render -->
    <environment include="Production">
        <!-- Bundled JS -->
        <script src="~/js/site.min.js"></script>
        <script src="~/js/dataTables.min.js"></script>

        <!-- Individual JS files (not bundled) -->
        <script src="~/js/plugins/sweetalert2/sweetalert2.all.min.js"></script>
        <script src="~/js/plugins/datapicker/bootstrap-datepicker.js"></script>
        <script src="~/js/plugins/select2/select2.full.min.js"></script>
        <script src="~/js/plugins/touchspin/jquery.bootstrap-touchspin.min.js"></script>
        <script src="~/js/plugins/dropzone/dropzone.js"></script>
    </environment>

    <environment include="Development">
        <script src="~/js/jquery-2.1.1.js"></script>
        <script src="~/js/respond.js"></script>
        <script src="~/js/bootstrap.js"></script>
        <script src="~/js/plugins/slimscroll/jquery.slimscroll.js"></script>
        <script src="~/js/plugins/metisMenu/metisMenu.min.js"></script>
        <script src="~/js/plugins/pace/pace.min.js"></script>
        <script src="~/js/inspinia.js"></script>
        <script src="~/js/plugins/iCheck/icheck.min.js"></script>
        <script src="~/js/plugins/toastr/toastr.min.js"></script>

        <script src="~/js/plugins/dataTables/jquery.dataTables.min.js"></script>
        <script src="~/js/plugins/dataTables/dataTables.bootstrap.min.js"></script>
        <script src="~/js/plugins/dataTables/Buttons-1.5.1/dataTables.buttons.min.js"></script>
        <script src="~/js/plugins/dataTables/Buttons-1.5.1/buttons.bootstrap.min.js"></script>
        <script src="~/js/plugins/dataTables/Buttons-1.5.1/buttons.html5.min.js"></script>
        <script src="~/js/plugins/dataTables/Buttons-1.5.1/buttons.print.min.js"></script>
        <script src="~/js/plugins/dataTables/Buttons-1.5.1/buttons.colVis.min.js"></script>
        <script src="~/js/plugins/dataTables/FixedHeader-3.1.3/dataTables.fixedHeader.min.js"></script>
        <script src="~/js/plugins/dataTables/Select-1.2.5/dataTables.select.min.js"></script>
        <script src="~/js/plugins/dataTables/FixedColumns-3.2.4/dataTables.fixedColumns.min.js"></script>
        <script src="~/js/plugins/dataTables/init.js"></script>

        <script src="~/js/plugins/sweetalert2/sweetalert2.all.min.js"></script>

        <script src="~/js/plugins/datapicker/bootstrap-datepicker.js"></script>

        <script src="~/js/plugins/select2/select2.full.min.js"></script>

        <script src="~/js/plugins/touchspin/jquery.bootstrap-touchspin.min.js"></script>

        <script src="~/js/plugins/dropzone/dropzone.js"></script>
    </environment>

    <script type="text/javascript">
        $(document).ready(function () {
            $("body").tooltip({ selector: '[data-toggle=tooltip]' });
        });
    </script>

    <script src="~/js/app/app.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>