@using Wddc.WebContentManager.Extensions
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <i class="fa fa-user-circle fa-3x"></i>
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">@User.Identity.Name</strong>
                            </span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="@Url.Action("LogOff", "Account", new { area = ""})">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    W+
                </div>
            </li>
            <li id="continuingEducation-li">
                <a href="@Url.Action("Index", "ContinuingEducation", new { area = ""})"><i class="fa fa-book"></i> <span class="nav-label">Continuing Education</span></a>
            </li>
            <li id="classifiedAd-li">
                <a href="@Url.Action("Index", "ClassifiedAds", new { area = ""})"><i class="fa fa-newspaper-o"></i> <span class="nav-label">Classified Ads</span></a>
            </li>
            <li id="careers-li">
                <a href="@Url.Action("Index", "Careers", new { area = ""})"><i class="fa fa-suitcase"></i> <span class="nav-label">WDDC Careers</span></a>
            </li>
            <li class="@Html.IsSelected(controller: "LiquidationSale") @Html.IsSelected(controller: "RetailClearanceSale") @Html.IsSelected(controller: "EquipmentClearanceSale")">
                <a href="#"><i class="fa fa-money"></i> <span class="nav-label">Sales</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" aria-expanded="true" id="message-ul">
                    <li id="liquidationSale-li">
                        <a href="@Url.Action("Index", "LiquidationSale", new { area = ""})">Liquidation (Returns)</a>
                    </li>
                    <li id="clearanceRetailSale-li">
                        <a href="@Url.Action("Index", "RetailClearanceSale", new { area = ""})">Clearance - Retail</a>
                    </li>
                    <li id="clearanceEquipmentSale-li">
                        <a href="@Url.Action("Index", "EquipmentClearanceSale", new { area = ""})">Clearance - Equipment</a>
                    </li>
                </ul>
            </li>
            <li id="videos-li">
                <a href="@Url.Action("Index", "Videos", new { area = ""})"><i class="fa fa-video-camera"></i> <span class="nav-label">WDDC Videos</span></a>
            </li>
            <li id="search-li">
                <a href="@Url.Action("Index", "Search", new { area = ""})"><i class="fa fa-search"></i> <span class="nav-label">Search Control</span></a>
            </li>
            <li class="@Html.IsSelected(controller: "AffinityPrograms")">
                <a href="#"><i class="fa fa-star"></i> <span class="nav-label">Affinity Programs</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" aria-expanded="true" id="message-ul">
                    <li id="affinity-li">
                        <a href="@Url.Action("Index", "AffinityPrograms", new { area = ""})">Programs</a>
                    </li>
                    <li id="affinityList-li">
                        <a href="@Url.Action("AffinityProgramsList", "AffinityPrograms", new { area = ""})">Programs PDF List</a>
                    </li>
                </ul>
            </li>
            <li class="@Html.IsSelected(controller: "FYINewsletter") @Html.IsSelected(controller: "InsiderNewsletter")">
                <a href="#"><i class="fa fa-newspaper-o"></i> <span class="nav-label">Website Newsletter</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" aria-expanded="true" id="newsletter-ul">
                    <li id="fyiNewsletter-li">
                        <a href="@Url.Action("Index", "FYINewsletter", new { area = ""})">FYI Newsletter</a>
                    </li>
                    <li id="insiderNewsletter-li">
                        <a href="@Url.Action("Index", "InsiderNewsletter", new { area = ""})">Insider Newsletter</a>
                    </li>
                </ul>
            </li>
            <li id="cvBanner-li">
                <a href="@Url.Action("Index", "ClientVantageBanners", new { area = ""})"><i class="fa fa-flag"></i> <span class="nav-label">ClientVantage Banners</span></a>
            </li>
            <li id="search-li">
                <a href="@Url.Action("Index", "WebUserLookup", new { area = ""})"><i class="fa fa-user"></i> <span class="nav-label">Web User Lookup</span></a>
            </li>
        </ul>
    </div>
</nav>

<style>
    .label{
        padding: 2px 2px;
    }
</style>