@model Wddc.WebContentManager.Models.WebContent.Videos.VideosModel

@{
    ViewBag.Title = "WDDC Videos";
}

@section Styles {
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://kendo.cdn.telerik.com/2021.2.511/styles/kendo.default.min.css" rel="stylesheet" />
    <link href="https://kendo.cdn.telerik.com/2021.2.511/styles/kendo.bootstrap-v4.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
}

@section Scripts {
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.0/jquery.validate.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2021.2.511/js/kendo.all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>

        var categoriesDataSource, albumsDataSource, selectedCategoryNumber, selectedCategoryName, selectedAlbumId, selectedAlbumName, selectedAlbumNumber;

        $(document).ready(function () {

            categoriesDataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: '@Url.Action("GetCategories", "Videos")',
                        dataType: "json"
                    },
                    create: {
                        url: '@Url.Action("CreateWebLiquidation", "LiquidationSale")',
                        type: "POST",
                        dataType: "json"
                    },
                },
            });

            $("#categoriesList").kendoListBox({
                dataSource: categoriesDataSource,
                dataTextField: "VD01_CTGY_NAME",
                dataValueField: "VD01_CTGY_NBR",
                toolbar: {
                    tools: ["moveUp", "moveDown"]
                },
            });

            $.getJSON('@Url.Action("GetFirstCategory", "Videos")', function (json) {

                selectedCategoryNumber = json.VD01_CTGY_NBR;
                selectedCategoryName = json.VD01_CTGY_NAME;

                albumsDataSource = new kendo.data.DataSource({
                    transport: {
                        read: {
                            url: '@Url.Action("GetAlbumsByCategory", "Videos")?CTGY_NBR=' + json.VD01_CTGY_NBR,
                             dataType: "json"
                        }
                    },
                });

                $("#albumsList").kendoListBox({
                    dataSource: albumsDataSource,
                    dataTextField: "VD02_NAME",
                    dataValueField: "VD02_ID",
                    template: "<div style='width: 50%'>#:VD02_NAME#</div><div class='pull-right' style='width: 50%; text-align: right;'>#:EMBD_CODE#</div>",
                    dataBound: function (e) {
                        var albumsListBox = e.sender;
                        albumsListBox.select(albumsListBox.items().first());
                    },
                    change: function (e) {

                        var element = e.sender.select();
                        var dataItem = e.sender.dataItem(element[0]);

                        if (dataItem) {
                            selectedAlbumId = dataItem.VD02_ID;
                            selectedAlbumName = dataItem.VD02_NAME;
                            selectedAlbumNumber = dataItem.EMBD_CODE;
                        }

                    },
                });

            });

            var categoriesListBox = $("#categoriesList").data("kendoListBox");

            categoriesListBox.bind("change", function (e) {

                var element = e.sender.select();
                var dataItem = e.sender.dataItem(element[0]);

                selectedCategoryNumber = dataItem.VD01_CTGY_NBR;
                selectedCategoryName = dataItem.VD01_CTGY_NAME;

                albumsDataSource = new kendo.data.DataSource({
                    transport: {
                        read: {
                            url: '@Url.Action("GetAlbumsByCategory", "Videos")?CTGY_NBR=' + dataItem.VD01_CTGY_NBR,
                             dataType: "json"
                        }
                    },
                });

                var albumsListBox = $("#albumsList").data("kendoListBox");
                if (albumsListBox) {
                    albumsListBox.setDataSource(albumsDataSource);
                    albumsListBox.dataSource.read();
                }

            });

            categoriesListBox.bind("dataBound", function (e) {

                e.sender.select(e.sender.items().first());

                var dataSource = $("#categoriesList").data("kendoListBox").dataSource;
                for (var i = 0; i < dataSource.data().length; i++) {
                    if (dataSource.data()[i].VID002s.length == 0) {
                        e.sender.wrapper.find("[data-uid='" + dataSource.data()[i].uid + "']").addClass("errorRow");
                    }
                }

            });


            categoriesListBox.bind("reorder", function (e) {

                e.preventDefault();
                var dataSource = e.sender.dataSource;
                var dataItem = e.dataItems[0]
                var index = dataSource.indexOf(dataItem) + e.offset;
                dataSource.remove(dataItem);
                dataSource.insert(index, dataItem);
                e.sender.wrapper.find("[class='" + "k-item k-state-selected" + "']").removeClass("k-state-selected");
                e.sender.wrapper.find("[data-uid='" + dataItem.uid + "']").addClass("k-state-selected");

                albumsDataSource = new kendo.data.DataSource({
                    transport: {
                        read: {
                            url: '@Url.Action("GetAlbumsByCategory", "Videos")?CTGY_NBR=' + dataItem.VD01_CTGY_NBR,
                             dataType: "json"
                        }
                    },
                });

                var albumsListBox = $("#albumsList").data("kendoListBox");
                albumsListBox.setDataSource(albumsDataSource);
                albumsListBox.dataSource.read();

                setNewOrders();

            });

            function setNewOrders() {

                var categoriesListBox = $("#categoriesList").data("kendoListBox");
                var dataSource = categoriesListBox.dataSource;
                var categoriesItems = categoriesListBox.dataItems();
                for (let i = 0; i < categoriesItems.length; i++) {
                    var categoriesItem = categoriesItems[i];
                    categoriesItem.VD01_CTGY_SORT = dataSource.indexOf(categoriesItem);
                }

                $.post('Videos/ReorderVID001s', {
                    model: {
                        VID001s: JSON.parse(JSON.stringify(categoriesItems))
                    }
                }, (result) => {
                    // reorder complete
                }).fail((xhr, textStatus, errorThrown) => {
                    Swal.fire({ icon: 'error', title: 'Error!', text: 'Failure sorting videos: ' + textStatus + ' : ' + errorThrown, confirmButtonColor: '#1a73e8' });
                });
            }

        })

        $("#addCategoryModal").on('shown.bs.modal', function () {
            document.getElementById("newCategoryName").focus();
        });

        $("#editCategoryModal").on('shown.bs.modal', function () {
            document.getElementById("categoryName").focus();
            document.forms["editCategoryForm"]["categoryNumber"].value = parseInt(selectedCategoryNumber);
            document.forms["editCategoryForm"]["categoryName"].value = selectedCategoryName;
        });

        $("#addAlbumModal").on('shown.bs.modal', function () {
            document.getElementById("newAlbumName").focus();
            $.getJSON('@Url.Action("GetCategories", "Videos")', function (options) {
                   var select = document.getElementById("newAlbumCategoryNumber");
                   for (var i = 0; i < options.length; i++) {
                        var el = document.createElement("option");
                        el.textContent = options[i].VD01_CTGY_NAME;
                        el.value = options[i].VD01_CTGY_NBR;
                        if (options[i].VD01_CTGY_NBR == selectedCategoryNumber) {
                            el.selected = true;
                        }
                        select.appendChild(el)
                   };
            });
        });

        $("#addAlbumModal").on('hide.bs.modal', function () {
            var select = document.getElementById("newAlbumCategoryNumber");
            while (select.firstChild) {
                 select.removeChild(select.firstChild);
            }
        });

         $("#editAlbumModal").on('shown.bs.modal', function () {
             document.getElementById("albumName").focus();
             document.forms["editAlbumForm"]["albumId"].value = parseInt(selectedAlbumId);
             document.forms["editAlbumForm"]["albumName"].value = selectedAlbumName;
             document.forms["editAlbumForm"]["albumNumber"].value = selectedAlbumNumber;
             $.getJSON('@Url.Action("GetCategories", "Videos")', function (options) {
                   var select = document.getElementById("albumCategoryNumber");
                   for (var i = 0; i < options.length; i++) {
                        var el = document.createElement("option");
                        el.textContent = options[i].VD01_CTGY_NAME;
                        el.value = options[i].VD01_CTGY_NBR;
                        if (options[i].VD01_CTGY_NBR == selectedCategoryNumber) {
                            el.selected = true;
                        }
                        select.appendChild(el)
                   };
             });
        });

        $("#editAlbumModal").on('hide.bs.modal', function () {
            var select = document.getElementById("albumCategoryNumber");
            while (select.firstChild) {
                 select.removeChild(select.firstChild);
            }
        });

        function validateAddCategoryForm() {
            var newCategoryName = document.forms["addCategoryForm"]["newCategoryName"].value;
            if (newCategoryName.trim() == "") {
                Swal.fire({ icon: 'warning', title: 'Missing Field', text: 'Category name must be filled out', confirmButtonColor: '#1a73e8' });
                document.getElementById("newCategoryName").focus();
                return false;
            }
        }

        function validateEditCategoryForm() {
            var categoryName = document.forms["editCategoryForm"]["categoryName"].value;
            if (categoryName.trim() == "") {
                Swal.fire({ icon: 'warning', title: 'Missing Field', text: 'Category name must be filled out', confirmButtonColor: '#1a73e8' });
                document.getElementById("categoryName").focus();
                return false;
            }
        }

        function validateAddAlbumForm() {
            var newAlbumName = document.forms["addAlbumForm"]["newAlbumName"].value;
            if (newAlbumName.trim() == "") {
                Swal.fire({ icon: 'warning', title: 'Missing Field', text: 'Album name must be filled out', confirmButtonColor: '#1a73e8' });
                document.getElementById("newAlbumName").focus();
                return false;
            }

            var newAlbumNumber = document.forms["addAlbumForm"]["newAlbumNumber"].value;
            if (newAlbumNumber.trim() == "") {
                Swal.fire({ icon: 'warning', title: 'Missing Field', text: 'Vimeo album number must be filled out', confirmButtonColor: '#1a73e8' });
                document.getElementById("newAlbumNumber").focus();
                return false;
            }

            var numbers = /^[0-9]+$/;
            if (!newAlbumNumber.match(numbers)) {
                Swal.fire({ icon: 'warning', title: 'Invalid Input', text: 'Album Vimeo number is not valid', confirmButtonColor: '#1a73e8' });
                document.getElementById("newAlbumNumber").focus();
                return false;
            }
        }

        function validateEditAlbumForm() {
            var albumName = document.forms["editAlbumForm"]["albumName"].value;
            if (albumName.trim() == "") {
                Swal.fire({ icon: 'warning', title: 'Missing Field', text: 'Album name must be filled out', confirmButtonColor: '#1a73e8' });
                document.getElementById("albumName").focus();
                return false;
            }

            var albumNumber = document.forms["editAlbumForm"]["albumNumber"].value;
            if (albumNumber.trim() == "") {
                Swal.fire({ icon: 'warning', title: 'Missing Field', text: 'Vimeo album number must be filled out', confirmButtonColor: '#1a73e8' });
                document.getElementById("albumNumber").focus();
                return false;
            }

            var numbers = /^[0-9]+$/;
            if (!albumNumber.match(numbers)) {
                Swal.fire({ icon: 'warning', title: 'Invalid Input', text: 'Album Vimeo number is not valid', confirmButtonColor: '#1a73e8' });
                document.getElementById("albumNumber").focus();
                return false;
            }
        }

        $("#delete-category").click(function () {
            Swal.fire({
                title: 'Confirm Delete',
                text: "Are you sure you want to remove category '" + selectedCategoryName + "'?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#dc3545',
                cancelButtonColor: '#6c757d',
                confirmButtonText: 'Yes, Delete',
                cancelButtonText: 'Cancel'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.getJSON('@Url.Action("GetAlbumsByCategory", "Videos")?CTGY_NBR=' + parseInt(selectedCategoryNumber), function (json) {
                        if (json.length > 0) {
                            Swal.fire({ icon: 'warning', title: 'Cannot Delete', text: "There are items assigned to category '" + selectedCategoryName + "'. Please remove or move them to a different category first.", confirmButtonColor: '#1a73e8' });
                        } else {
                            $.post('@Url.Action("DeleteCategory", "Videos")?CTGY_NBR=' + parseInt(selectedCategoryNumber), (res) => {
                                if (res.success) {
                                    Swal.fire({ icon: 'success', title: 'Deleted!', text: "Category '" + selectedCategoryName + "' was deleted successfully!", showConfirmButton: false, timer: 2000, timerProgressBar: true }).then(() => {
                                        window.location.href = "@Url.Action("Index", "Videos")";
                                    });
                                } else {
                                    Swal.fire({ icon: 'error', title: 'Error!', text: "Failure deleting video category '" + selectedCategoryName + "'!", confirmButtonColor: '#1a73e8' });
                                }
                            }).fail((xhr, textStatus, errorThrown) => {
                                Swal.fire({ icon: 'error', title: 'Error!', text: "Failure deleting video category '" + selectedCategoryName + "'. " + textStatus + ' : ' + errorThrown, confirmButtonColor: '#1a73e8' });
                            });
                        }
                    });
                }
            });
        });

        $("#edit-video").click(function () {
            $.getJSON('@Url.Action("GetAlbumsByCategory", "Videos")?CTGY_NBR=' + parseInt(selectedCategoryNumber), function (json) {
                if (json.length == 0) {
                    Swal.fire({ icon: 'info', title: 'No Videos', text: "There are no videos assigned to category '" + selectedCategoryName + "'.", confirmButtonColor: '#1a73e8' });
                } else {
                    $('#editAlbumModal').modal('show');
                }
            });
        });

        $("#delete-video").click(function () {
            $.getJSON('@Url.Action("GetAlbumsByCategory", "Videos")?CTGY_NBR=' + parseInt(selectedCategoryNumber), function (json) {
                if (json.length == 0) {
                    Swal.fire({ icon: 'info', title: 'No Videos', text: "There are no videos assigned to category '" + selectedCategoryName + "'.", confirmButtonColor: '#1a73e8' });
                } else {
                    Swal.fire({
                        title: 'Confirm Delete',
                        text: "Are you sure you want to remove video '" + selectedAlbumName + "'?",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#dc3545',
                        cancelButtonColor: '#6c757d',
                        confirmButtonText: 'Yes, Delete',
                        cancelButtonText: 'Cancel'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            $.post('@Url.Action("DeleteAlbum", "Videos")?ID=' + parseInt(selectedAlbumId), (res) => {
                                if (res.success) {
                                    Swal.fire({ icon: 'success', title: 'Deleted!', text: "Video '" + selectedAlbumName + "' was deleted successfully!", showConfirmButton: false, timer: 2000, timerProgressBar: true }).then(() => {
                                        window.location.href = "@Url.Action("Index", "Videos")";
                                    });
                                } else {
                                    Swal.fire({ icon: 'error', title: 'Error!', text: "Failure deleting video '" + selectedAlbumName + "'!", confirmButtonColor: '#1a73e8' });
                                }
                            }).fail((xhr, textStatus, errorThrown) => {
                                Swal.fire({ icon: 'error', title: 'Error!', text: "Failure deleting video '" + selectedAlbumName + "'. " + textStatus + ' : ' + errorThrown, confirmButtonColor: '#1a73e8' });
                            });
                        }
                    });
                }
            });
        });

        $("#test-link").click(function () {
            var newAlbumNumber = document.forms["addAlbumForm"]["newAlbumNumber"].value;
            if (newAlbumNumber.trim() == "") {
                Swal.fire({ icon: 'warning', title: 'Missing Field', text: 'Vimeo album number must be filled out', confirmButtonColor: '#1a73e8' });
                document.getElementById("newAlbumNumber").focus();
            } else {
                window.open('https://vimeo.com/showcase/' + newAlbumNumber, '_blank');
            }
        });

        $("#test-link2").click(function () {
            var albumNumber = document.forms["editAlbumForm"]["albumNumber"].value;
            if (albumNumber.trim() == "") {
                Swal.fire({ icon: 'warning', title: 'Missing Field', text: 'Vimeo album number must be filled out', confirmButtonColor: '#1a73e8' });
                document.getElementById("albumNumber").focus();
            } else {
                window.open('https://vimeo.com/showcase/' + albumNumber, '_blank');
            }
        });

        var activityLogGrid;

        function loadActivityLog() {
            $.ajax({
                url: '@Url.Action("Log", "Videos")',
                type: 'GET',
                data: { referrerUrl: 'Videos', pageNumber: 1, pageSize: 100 },
                success: function (response) {
                    initActivityLogGrid(response && response.Results ? response.Results : []);
                },
                error: function () { initActivityLogGrid([]); }
            });
        }

        function initActivityLogGrid(logData) {
            if (activityLogGrid) {
                activityLogGrid.destroy();
                $('#gridActivityLog').empty();
            }
            activityLogGrid = $('#gridActivityLog').kendoGrid({
                dataSource: {
                    data: logData,
                    pageSize: 20,
                    schema: {
                        model: {
                            fields: {
                                Text: { type: 'string' },
                                User: { type: 'string' },
                                Created: { type: 'string' }
                            }
                        }
                    }
                },
                height: 400,
                scrollable: true,
                sortable: true,
                pageable: { refresh: true, pageSizes: [10, 20, 50, 100], buttonCount: 5 },
                filterable: { mode: 'row' },
                resizable: true,
                columns: [
                    {
                        field: 'Text', title: 'Log Message', width: '55%',
                        filterable: { cell: { operator: 'contains', showOperators: false } },
                        template: function (dataItem) {
                            return '<div style="white-space: pre-wrap; word-wrap: break-word; line-height: 1.5;">' + kendo.htmlEncode(dataItem.Text || '') + '</div>';
                        }
                    },
                    {
                        field: 'User', title: 'Username', width: '20%',
                        filterable: { cell: { operator: 'contains', showOperators: false } }
                    },
                    {
                        field: 'Created', title: 'Date', width: '25%',
                        filterable: false
                    }
                ]
            }).data('kendoGrid');
        }

        function toggleLog() {
            var container = $('#logContainer');
            var toggleText = $('#logToggleText');
            if (container.is(':visible')) {
                container.slideUp(300);
                toggleText.text('Show Activity Log');
            } else {
                container.slideDown(300);
                toggleText.text('Hide Activity Log');
                loadActivityLog();
            }
        }

    </script>
}

<div class="modern-wrapper">
    <!-- Header -->
    <div class="page-header-banner">
        <h2><i class="fa fa-film"></i> Videos Management</h2>
        <p class="subtitle">Manage video categories and Vimeo albums</p>
    </div>

    <div class="container-fluid">
        <div class="action-card mb-4">
            <div class="card-body-modern">
                <div class="row">
                    <!-- Categories -->
                    <div class="col-lg-5">
                        <div class="panel-header">
                            <span class="panel-title"><i class="fa fa-folder"></i> Categories</span>
                            <div class="panel-tools">
                                <button type="button" class="btn btn-primary btn-modern btn-sm" id="add-category" data-toggle="modal" data-target="#addCategoryModal">
                                    <i class="fa fa-plus"></i> Add
                                </button>
                                <button type="button" class="btn btn-secondary btn-modern btn-sm" id="edit-category" data-toggle="modal" data-target="#editCategoryModal">
                                    <i class="fa fa-pencil-alt"></i> Edit
                                </button>
                                <button type="button" class="btn btn-danger btn-modern btn-sm" id="delete-category">
                                    <i class="fa fa-trash"></i> Delete
                                </button>
                            </div>
                        </div>
                        <select id="categoriesList"></select>
                    </div>
                    <!-- Albums -->
                    <div class="col-lg-7">
                        <div class="panel-header">
                            <span class="panel-title"><i class="fa fa-play-circle"></i> Vimeo Albums</span>
                            <div class="panel-tools">
                                <button type="button" class="btn btn-primary btn-modern btn-sm" id="add-video" data-toggle="modal" data-target="#addAlbumModal">
                                    <i class="fa fa-plus"></i> Add
                                </button>
                                <button type="button" class="btn btn-secondary btn-modern btn-sm" id="edit-video">
                                    <i class="fa fa-pencil-alt"></i> Edit
                                </button>
                                <button type="button" class="btn btn-danger btn-modern btn-sm" id="delete-video">
                                    <i class="fa fa-trash"></i> Delete
                                </button>
                            </div>
                        </div>
                        <select id="albumsList"></select>
                    </div>
                </div>
            </div>
        </div>

        <!-- Log Section -->
        <div class="log-section">
            <div class="log-header">
                <button type="button" class="btn-toggle-log" onclick="toggleLog()">
                    <i class="fa fa-history"></i> <span id="logToggleText">Show Activity Log</span>
                </button>
            </div>
            <div id="logContainer" style="display: none; margin-top: 15px;">
                <div id="gridActivityLog"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addCategoryModal" tabindex="-1" role="dialog" aria-labelledby="addCategoryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title">New Category</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form name="addCategoryForm" method="post" action="@Url.Action("AddCategory", "Videos")" onsubmit="return validateAddCategoryForm()">
                <div class="modal-body">
                    <div class="card" style="margin: 0 auto">
                        <div class="row form-row">
                            <div class="col-lg-3 form-label-col">
                                <label for="newCategoryName" class="control-label control-label-center">Category Name:</label>
                            </div>
                            <div class="col-lg-9">
                                <input id="newCategoryName" name="newCategoryName" class="form-control" type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Add</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="editCategoryModal" tabindex="-1" role="dialog" aria-labelledby="editCategoryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title">Edit Category</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form name="editCategoryForm" method="post" action="@Url.Action("UpdateCategory", "Videos")" onsubmit="return validateEditCategoryForm()">
                <input type="hidden" id="categoryNumber" name="categoryNumber">
                <div class="modal-body">
                    <div class="card" style="margin: 0 auto">
                        <div class="row form-row">
                            <div class="col-lg-3 form-label-col">
                                <label for="categoryName" class="control-label control-label-center">Category Name:</label>
                            </div>
                            <div class="col-lg-9">
                                <input id="categoryName" name="categoryName" class="form-control" type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Update</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="addAlbumModal" tabindex="-1" role="dialog" aria-labelledby="addAlbumModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title">New Video</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form name="addAlbumForm" method="post" action="@Url.Action("AddAlbum", "Videos")" onsubmit="return validateAddAlbumForm()">
                <div class="modal-body">
                    <div class="card" style="margin: 0 auto">
                        <div class="row form-row">
                            <div class="col-lg-3 form-label-col">
                                <label for="newAlbumCategoryNumber" class="control-label control-label-center">Main Category:</label>
                            </div>
                            <div class="col-lg-9">
                                <select class="form-control" id="newAlbumCategoryNumber" name="newAlbumCategoryNumber"></select>
                            </div>
                        </div>
                        <div class="row form-row">
                            <div class="col-lg-3 form-label-col">
                                <label for="newAlbumName" class="control-label control-label-center">Album Title:</label>
                            </div>
                            <div class="col-lg-9">
                                <input id="newAlbumName" name="newAlbumName" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="row form-row">
                            <div class="col-lg-3 form-label-col">
                                <label for="newAlbumNumber" class="control-label control-label-center">Album Number:</label>
                            </div>
                            <div class="col-lg-9">
                                <input id="newAlbumNumber" name="newAlbumNumber" class="form-control">
                            </div>
                        </div>
                        <div class="row form-row">
                            <div class="col-lg-3 form-label-col">
                            </div>
                            <div class="col-lg-9">
                                <button type="button" class="btn btn-outline-secondary" id="test-link">Test Link in Browser</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Add</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="editAlbumModal" tabindex="-1" role="dialog" aria-labelledby="editAlbumModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title">Edit Video</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form name="editAlbumForm" method="post" action="@Url.Action("UpdateAlbum", "Videos")" onsubmit="return validateEditAlbumForm()">
                <input type="hidden" id="albumId" name="albumId">
                <div class="modal-body">
                    <div class="card" style="margin: 0 auto">
                        <div class="row form-row">
                            <div class="col-lg-3 form-label-col">
                                <label for="albumCategoryNumber" class="control-label control-label-center">Main Category:</label>
                            </div>
                            <div class="col-lg-9">
                                <select class="form-control" id="albumCategoryNumber" name="albumCategoryNumber"></select>
                            </div>
                        </div>
                        <div class="row form-row">
                            <div class="col-lg-3 form-label-col">
                                <label for="albumName" class="control-label control-label-center">Album Title:</label>
                            </div>
                            <div class="col-lg-9">
                                <input id="albumName" name="albumName" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="row form-row">
                            <div class="col-lg-3 form-label-col">
                                <label for="albumNumber" class="control-label control-label-center">Album Number:</label>
                            </div>
                            <div class="col-lg-9">
                                <input id="albumNumber" name="albumNumber" class="form-control">
                            </div>
                        </div>
                        <div class="row form-row">
                            <div class="col-lg-3 form-label-col">
                            </div>
                            <div class="col-lg-9">
                                <button type="button" class="btn btn-outline-secondary" id="test-link2">Test Link in Browser</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Update</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<style>
    /* ===== GLOBAL ===== */
    #page-heading, .breadcrumb { display: none; }

    .modern-wrapper {
        background: #f8f9fa;
        min-height: 100vh;
        padding: 15px 20px 30px;
        font-family: 'Inter', sans-serif;
    }

    /* ===== HEADER BANNER ===== */
    .page-header-banner {
        background: linear-gradient(135deg, #3182ce 0%, #2c5282 100%);
        color: white;
        padding: 12px 20px;
        margin-bottom: 20px;
        border-radius: 6px;
        box-shadow: 0 2px 10px rgba(49,130,206,0.3);
    }
    .page-header-banner h2 {
        margin: 0 0 2px 0;
        font-size: 20px;
        font-weight: 600;
        display: flex;
        align-items: center;
        gap: 10px;
        color: white;
    }
    .page-header-banner .subtitle {
        margin: 0;
        font-size: 13px;
        opacity: 0.85;
    }

    /* ===== ACTION CARD ===== */
    .action-card {
        background: white;
        border-radius: 8px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.08);
        overflow: hidden;
        margin-bottom: 16px;
    }
    .card-body-modern { padding: 20px; }

    /* ===== PANEL HEADER ===== */
    .panel-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #e2e8f0;
    }
    .panel-title {
        font-size: 13px;
        font-weight: 600;
        color: #2c5282;
        display: flex;
        align-items: center;
        gap: 6px;
    }
    .panel-tools { display: flex; gap: 6px; }

    /* ===== BUTTONS ===== */
    .btn-modern {
        border-radius: 6px;
        font-weight: 600;
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        transition: all 0.2s ease;
        border: none;
        box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    }
    .btn-modern:hover {
        box-shadow: 0 2px 8px rgba(0,0,0,0.15);
        transform: translateY(-1px);
    }
    .btn-sm { padding: 5px 12px; }
    .btn-modern i { margin-right: 4px; }

    /* ===== KENDO LISTBOX ===== */
    .k-listbox {
        width: 100%;
        height: 380px;
        font-size: 13px;
        border-radius: 4px;
    }
    .k-item { font-size: 13px; color: #333; }
    .k-list .k-item, .k-list-optionlabel { padding: 6px 1rem; }

    .errorRow { background-color: #FFC0CB; }

    /* ===== FORMS (modals) ===== */
    .form-row {
        margin-top: 7px;
        display: flex;
    }
    .form-label-col {
        display: flex;
        padding-right: 0;
        justify-content: flex-end;
    }
    .control-label {
        font-size: 13px;
        font-weight: 600;
        color: #4a5568;
    }
    .control-label-center {
        display: flex;
        margin-top: auto;
        margin-bottom: auto;
    }
    .form-control {
        font-size: 13px;
        border-color: #d1d5db;
        border-radius: 4px;
    }
    label { margin-bottom: 0; }

    /* ===== MODALS ===== */
    .modal-lg { max-width: 700px; }
    .modal-title {
        color: #2c5282;
        font-size: 15px;
        font-weight: 600;
    }

    .btn-outline-secondary {
        margin-top: 10px;
        color: #fff;
        background-color: #6c757d;
        border-color: #6c757d;
        padding: 4px 10px;
        font-size: 12px;
        border-radius: 4px;
    }
    .btn-outline-secondary:hover { color: #fff; background-color: #5a6268; }

    /* ===== LOG SECTION ===== */
    .log-section {
        border-top: 2px solid #e7eaec;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: 20px;
    }
    .log-header { text-align: center; margin-bottom: 15px; }
    .btn-toggle-log {
        padding: 6px 16px;
        background: linear-gradient(135deg, #2c5282 0%, #3182ce 100%);
        color: white;
        border: none;
        border-radius: 16px;
        font-weight: 600;
        font-size: 11px;
        cursor: pointer;
        box-shadow: 0 2px 4px rgba(49,130,206,0.3);
        display: inline-flex;
        align-items: center;
        gap: 6px;
    }
    .btn-toggle-log:hover {
        background: linear-gradient(135deg, #2c5282 0%, #265080 100%);
        transform: translateY(-2px);
        box-shadow: 0 4px 8px rgba(49,130,206,0.4);
    }
    #gridActivityLog {
        border-radius: 6px;
        border: 1px solid #e7eaec;
        box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    }
    #gridActivityLog .k-grid-header {
        background: linear-gradient(to bottom, #f8f9fa 0%, #e9ecef 100%);
        border-bottom: 1px solid #dee2e6;
    }
    #gridActivityLog .k-grid-header .k-header {
        font-weight: bold;
        color: #495057;
        font-size: 13px;
    }
    #gridActivityLog .k-grid-content td { color: #333; }

    #swal2-title { font-size: 15px; }
    .swal2-popup { padding: 1.25em; }
</style>
